<section class="banner">
    <div class="wrapper">
        <div class="banner__title">
            <span class="banner__title-text">Покупайте Sensodyne в Магнит, выигрывайте призы!</span><br>
            <span>1 ПРОДУКТ в чеке</span>  
            <span>
                <img src="./src/assets/img/magnit.svg" alt="">
            </span>                
            <span>= 1 ШАНС</span>
            <div class="banner__title-bg">
                <img src="./src/assets/img/blue-bg.svg" alt="">
            </div>
        </div>
        <div class="banner__imgs">
            <img src="./src/assets/img/yes.png" alt="">
            <img src="./src/assets/img/pasta.png" alt="">
        </div>
        <div class="banner__footer">
            <a href="#" class="button" data-modal-open="#modal-auth">УЧАСТВОВАТЬ</a>
            <span>Сроки акции с 20.11.24 по 17.12.24</span>
        </div>
        <div class="banner__doctor">
            <img src="./src/assets/img/doctor.png" alt="">
            <div class="banner__doctor-name">
                Лобода Е. С.<br>
                врач-стоматолог, к.м.н.
            </div>
        </div>
    </div>
    <div class="banner__bg">
        <img src="./src/assets/img/banner-bg.jpg" alt="">
    </div>
</section>