<div class="banner">
    <div class="wrapper">
        <div class="banner__info">
            <div class="banner__title">
                Наслаждайся вкусом, побеждай!
            </div>
            <div class="banner__img">
                <img src="./src/assets/img/banner-img.png" alt="">
            </div>
            <div class="banner__button" data-modal-open="#modal-auth">
                УЧАСТВОВАТЬ
            </div>
        </div>
        <div class="banner__img">
            <img src="./src/assets/img/banner-img.png" alt="">
        </div>
    </div>
    <div class="banner__bg">
        <img src="./src/assets/img/banner-bg.svg" alt="">
    </div>
</div>