<div class="education">
    <div class="education__page education__page-start2 active">
        <div class="start__title">
            Обучающий модуль
        </div>
        <div class="start__logo">
            <img src="/src/assets/img/education-logo2.svg" alt="">
        </div>
        <div class="start__products">
            <img src="/src/assets/img/education-products2.png" alt="">
        </div>
        <div class="education__buttons">
            <div class="next-button" data-next-button>
                Начать
            </div>
        </div>
    </div>
    <div class="education__page">
        <div class="education__img">
            <img src="/src/assets/img/ed2-0.png" alt="">
        </div>
        <div class="education__title">
            «Хуторок» – 
        </div>
        <div class="education__text">
            это душевность и хлебосольность русского Юга.<br><br>
            Урожайный, плодородный край с необъятными полями пшеницы, злаков, ягод и дивными фруктовыми садами – именно здесь, под теплыми лучами солнца, зародилась настоящая русская водка. На протяжении веков местные жители, хуторяне, бережно хранят семейные рецепты приготовления вкусной мягкой водки для неспешных бесед по душам.<br><br>
            Эти домашние рецепты легли в основу коллекции южных настоек и водки «Хуторок».
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed2-1.png" alt="">
        </div>
        <div class="education__title">
            ХУТОРОК ДОМАШНЯЯ НА МЕДУ С ХРЕНОМ
        </div>
        <div class="education__text">
            Настойка горькая на меду с хреном.<br><br>
            Изготовлена на основе натурального экстракта корня хрена и настоя лепестков подсолнечника. Настойка имеет вкус и аромат, характерный для хрена в огуречном рассоле со специями с тонами самогона. Добавление в настойку натурального меда смягчает слегка жгучий привкус хрена.<br><br>
            Топ-15 горьких настоек российского производства по версии «Спиртные напитки».<br><br>
            Крепость: 40%<br><br>
            Объем: 0,25 л; 0,5 л
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed2-2.png" alt="">
        </div>
        <div class="education__title">
            ХУТОРОК НА ДЕРЕВЕНСКИХ ЯБЛОЧКАХ
        </div>
        <div class="education__text">
            Настойка сладкая.<br><br>
            Мягкий, сбалансированный вкус настойки раскрывается нотами спелого желтого яблока и ягодной свежестью облепихи.<br><br>
            Душистый морс из облепихи, входящий в состав настойки, подчеркивает свежий вкус яблока и придает напитку пикантную горчинку.<br><br>
            Сладкие настойки «Хуторок» изготовлены на основе спирта класса «Альфа», натуральных соков, настоев, приготовленных из фруктов и ягод.<br><br>
            Крепость: 19%<br><br>
            Объем: 0,25 л; 0,5 л
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed2-3.png" alt="">
        </div>
        <div class="education__title">
            ХУТОРОК СЛИВОВИЦА СТАНИЧНАЯ
        </div>
        <div class="education__text">
            Настойка сладкая.<br><br>
            У настойки насыщенный, обволакивающий, сладкий вкус с нотами спелой сливы и бузины и с легкой терпкостью терна в послевкусии.<br><br>
            Сладкие настойки «Хуторок» изготовлены на основе спирта класса «Альфа», натуральных соков, настоев, приготовленных из фруктов и ягод.<br><br>
            Крепость: 19%<br><br>
            Объем: 0,25 л; 0,5 л
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page education__page-end2">
        <div class="start__logo">
            <img src="/src/assets/img/education-logo2.svg" alt="">
        </div>
        <div class="start__title">
            Поздравляем Вы изучили основную информацию по бренду Хуторок
        </div>
        <div class="education__title">
            Готовы проверить себя? 
        </div>
        <div class="final__text">
            Ответьте на 5 вопросов, это поможет закрепить полученные знания.
        </div>
        <a href="#" class="final__button">
            Перейти к тесту
        </a>
    </div>
</div>