<div class="education">
    <div class="education__page education__page-start active">
        <div class="start__title">
            Обучающий модуль
        </div>
        <div class="start__logo">
            <img src="/src/assets/img/education-logo.svg" alt="">
        </div>
        <div class="start__products">
            <img src="/src/assets/img/education-products.png" alt="">
        </div>
        <div class="education__buttons">
            <div class="next-button" data-next-button>
                Начать
            </div>
        </div>
    </div>
    <div class="education__page">
        <div class="education__img">
            <img src="/src/assets/img/ed0.png" alt="">
        </div>
        <div class="education__ltitle">
            КОЛЛЕКЦИЯ MEDOFF
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page">
        <div class="education__img">
            <img src="/src/assets/img/ed1.png" alt="">
        </div>
        <div class="education__title">
            СОЗДАНИЕ ПРЕМИАЛЬНОЙ ВОДКИ 
        </div>
        <div class="education__text">
            Водка MEDOFF производится исключительно на собственном заводе «КВК групп» в  г.Симферополе.
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed2.png" alt="">
        </div>
        <div class="education__text">
            Наша особая гордость — экспертная команда технологов, супруги Людмила и Сергей Григоренко — легенды алкогольной индустрии.<br><br>
            За их плечами десятки лет опыта, индустриальные патенты и множество успешных продуктов, завоевавших любовь потребителей.
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed3.png" alt="">
        </div>
        <div class="education__text">
            Вода из горного водохранилища проходит специальную десятиступенчатую систему подготовки, фильтрация через минералы горного хрусталя придает ей родниковый вкус, обеспечивая безупречное качество готовой водки MEDOFF.
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed4.png" alt="">
        </div>
        <div class="education__text">
            MEDOFF обогащается натуральными локальными ингредиентами.<br><br>
Настоящий цветочный мед, экстракты крымских трав и растений. Также применяется технология очистки мёдом, которую изобрели технологи завода компании «КВК групп» в 2003 году.
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed5.png" alt="">
        </div>
        <div class="education__text">
            В основе MEDOFF только премиальный спирт «Альфа», получаемый исключительно из зерновых культур.<br><br>
            Он не имеет выраженного «спиртового» запаха и посторонних тонов.
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed6.png" alt="">
        </div>
        <div class="education__title">
            MEDOFF BERRIES
        </div>
        <div class="education__text">
            Восхитительно вкусная сладкая настойка MEDOFF BERRIES создана для истинных гурманов. Ароматный ягодный букет и лёгкая кислинка красных ягод дополнена эфирным маслом крымской лаванды, которое гармонично завершает композицию вкусов деликатной свежей ноткой.<br><br>
            Крепость: 20%<br><br>
            Объем: 0,25 л; 0,5 л
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page ">
        <div class="education__img">
            <img src="/src/assets/img/ed7.png" alt="">
        </div>
        <div class="education__title">
            MEDOFF CAYENNE
        </div>
        <div class="education__text">
            Горькая настойка с повышенным уровнем крепости в 45 градусов для решительных и сильных духом. MEDOFF CAYENNE гарантирует яркие впечатления, незабываемую палитру вкусов<br><br>
            с богатым пряным ароматом, оттенками кофе, лимона и приятным согревающим послевкусием.<br><br>
            Крепость: 45%<br><br>
            Объем: 0,25 л; 0,5 л
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page">
        <div class="education__img">
            <img src="/src/assets/img/ed8.png" alt="">
        </div>
        <div class="education__title">
            MEDOFF CОВРЕМЕННЫЙ РУССКИЙ ШИК
        </div>
        <div class="education__text">
            Премиальная русская водка обладает восхитительно бархатным и мягким вкусом, благодаря изысканному сочетанию высококачественных спиртов и особо ценного ингредиента - натурального меда.<br><br>
            Роспись в стиле хохломы подчеркивает уникальность и аутентичность водки.<br><br>
            Дизайн бутылки уникален -  украшение эмбоссингом (объёмным рисунком), колпак, оснащенный контролем вскрытия.<br><br>
            Крепость: 40%<br><br>
            Объем: 0,25 л; 1 л
        </div>
        <div class="education__buttons">
            <div class="prev-button" data-prev-button>
                Назад
            </div>
            <div class="next-button" data-next-button>
                Дальше
            </div>
        </div>
    </div>
    <div class="education__page education__page-end">
        <div class="start__logo">
            <img src="/src/assets/img/education-logo.svg" alt="">
        </div>
        <div class="start__title">
            Поздравляем Вы изучили основную информацию по бренду Medoff
        </div>
        <div class="education__title">
            Готовы проверить себя? 
        </div>
        <div class="final__text">
            Ответьте на 7 вопросов, это поможет закрепить полученные знания.
        </div>
        <a href="#" class="final__button">
            Перейти к тесту
        </a>
    </div>
</div>