<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__block">
                <div class="footer__textblock">
                    ООО «КВК групп»<br><br>
                    Москва, Пресненская набережная 6, строение 2, башня «Империя»<br><br>
                    +7 (495) 783-11-30
                </div>
                <div class="footer__copyright-text">
                    © 2024. Все права защищены
                </div>
            </div>
            <div class="footer__tel">
                <div class="footer__tel-text">
                    Горячая линия Акции:
                </div>
                <a href="tel:+79647197274" class="footer__tel-link">
                    +7 (964) 719-72-74
                </a>
                <div class="footer__tel-text">
                    с 9:00 до 19:00 в будни по МСК
                </div>
            </div>
            <div class="footer__info">
                <div class="footer__logo">
                    <img src="./src/assets/img/logo-footer.svg" alt="">
                </div>
                <div class="footer__button" data-modal-open="#modal-contact">
                    Связаться с нами
                </div>
            </div>
        </div>
        <div class="footer__links">
            <a href="#" class="footer__link" data-modal-open="#modal-rules">
                Правила акции
            </a>
            <a href="./#gifts" class="footer__link">
                Подарки
            </a>
            <a href="./#questions" class="footer__link">
                Вопросы / ответы
            </a>
            <a href="#" class="footer__link" data-modal-open="#modal-politic">
                Политика Конфиденциальности
            </a>
        </div>
        <div class="footer__copyright">
            чрезмерное употребление алкоголя вредит вашему здоровью
        </div>
    </div>
</footer>