<div class="gifts">
    <div class="wrapper">
        <div class="gifts__btitle">
            Призы
        </div>
        <div class="gifts__container">
            <div class="gifts__block">
                <div class="gifts__img">
                    <img src="./src/assets/img/gift1.png" alt="">
                </div>
                <div class="gifts__title">
                    Главные призы
                </div>
                <div class="gifts__text">
                    Сертификаты в стоматологию, номиналом от 10 000 ₽ до 100 000 ₽ победителям розыгрыша при покупке пасты SENSODYNE в сети Магнит
                </div>
            </div>
            <div class="gifts__block">
                <div class="gifts__img">
                    <img src="./src/assets/img/gift2.png" alt="">
                </div>
                <div class="gifts__title">
                    Специальные призы
                </div>
                <div class="gifts__text">
                    Ирригатор для очищения зубов и десен победителям розыгрыша среди правильно ответивших на все вопросы викторины при покупке пасты SENSODYNE в сети Магнит
                </div>
            </div>
        </div>
        <div class="gifts__copyright">
            *Внешний вид призов может отличаться от изображения на рекламных материалах. Количество призов ограничено.
        </div>
    </div>
    <div class="gifts__bg">
        <img src="./src/assets/img/gifts-bg.png" alt="">
    </div>
</div>