<div class="gifts" id="gifts">
    <div class="wrapper">
        <div class="title">
            Подарки участникам Акции*
        </div>
        <div class="gifts__container">
            <div class="gifts__item">
                <div class="gifts__img">
                    <img src="./src/assets/img/ozon.png" alt="">
                </div>
                <div class="gifts__title">
                    КАРТЫ OZON
                </div>
                <div class="gifts__text">
                    Электронные карты OZON, номиналом от 500 ₽ до 3000 ₽
                </div>
            </div>
            <div class="gifts__item">
                <div class="gifts__img">
                    <img src="./src/assets/img/alise.png" alt="">
                </div>
                <div class="gifts__title">
                    Яндекс Станция
                </div>
                <div class="gifts__text">
                    10 Яндекс Станций мини
                </div>
            </div>
        </div>
        <div class="gifts__copyright">
            * Подробности в <a href="#" data-modal-open="#modal-rules">Правилах Акции</a>
        </div>
    </div>
</div>