<header class="header">
	<div class="wrapper">
		<div class="menu-button">
			<img src="./src/assets/img/menu.svg" alt="">
		</div>

		<a href="/" class="logo">
			<img src="./src/assets/img/logo.svg" alt="">
		</a>
		
		<nav class="menu">
			<a href="#" class="menu__link" data-modal-open="#modal-rules">Правила акции</a>
			<a href="#quest-block" class="menu__link">Вопросы / ответы</a>
		</nav>

		{% if isAuthorized == false %}
		<button class="button" type="button" data-modal-open="#modal-login">
			Войти
		</button>
		{% else %}
		<div class="info">
			<div class="prize">
				<div class="prize__icon">
					<img src="./src/assets/img/gift.svg" alt="">
				</div>
				<div class="prize__count">3</div>
				<div class="prize__text">
					шанса
				</div>
			</div>
			<div class="profile">
				<div class="profile__img">
					<img src="./src/assets/img/avatar.png" alt="">
				</div>
				<div class="profile__name">
					Александр
				</div>
			</div>
			<div class="logout">
				<img src="./src/assets/img/logout.svg" alt="">
			</div>
		</div>
		{% endif %}
	</div>

	<div class="mobile-menu">
		<a href="#" class="mobile-menu-link" data-modal-open="#modal-rules">Правила акции</a>
		<a href="#quest-block" class="mobile-menu-link">Вопросы / ответы</a>
		<a href="" class="mobile-menu-link">Файлы Cookie</a>
		<div class="mobile-menu-link" data-modal-open="#modal-politic">Политика Конфиденциальности</div>
	</div>
</header>