<div class="how">
    <div class="wrapper">
        <div class="title">
            Как участвовать в акции?
        </div>
        <div class="how__container">
            <div class="how__item">
                <div class="how__img">
                    <img src="./src/assets/img/how1.svg" alt="">
                </div>
                <div class="how__title">
                    Пройдите интерактивное обучение
                </div>
                <div class="how__text">
                    по продуктам
                </div>
            </div>
            <div class="how__item">
                <div class="how__img">
                    <img src="./src/assets/img/how2.svg" alt="">
                </div>
                <div class="how__title">
                    Регистрируйте чеки
                </div>
                <div class="how__text">
                    с товарами Акционных брендов
                </div>
            </div>
            <div class="how__item">
                <div class="how__img">
                    <img src="./src/assets/img/how3.svg" alt="">
                </div>
                <div class="how__title">
                    Получайте баллы
                </div>
                <div class="how__text">
                    за пройденное обучение и зарегистрированные чеки
                </div>
            </div>
            <div class="how__item">
                <div class="how__img">
                    <img src="./src/assets/img/how4.svg" alt="">
                </div>
                <div class="how__title">
                    обменивайте баллы
                </div>
                <div class="how__text">
                    на карты Озон
                </div>
            </div>
        </div>
    </div>
</div>