<div class="menu-page">
    <div class="wrapper">
        <div class="menu-page__title">
            Меню
        </div>
        

        <div class="menu-page__modules">
            <div class="module module-done"><!--.module-done--><!--.module-disabled-->
                <div class="module__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                        <path d="M11.124 3.35585C11.2915 3.27917 11.4819 3.27917 11.6495 3.35585C14.9034 4.84527 17.9874 6.666 20.8625 8.77726C21.0706 8.93005 21.1757 9.19493 21.1325 9.45724C21.0893 9.71954 20.9054 9.93213 20.6604 10.003C20.0611 10.1763 19.467 10.3629 18.8782 10.5618C16.4886 11.3692 14.1882 12.3851 11.9967 13.589L11.9938 13.5906C11.8944 13.6452 11.7953 13.7002 11.6964 13.7556C11.5031 13.8637 11.2711 13.8637 11.0779 13.7556C10.978 13.6997 10.8779 13.6442 10.7776 13.589C9.69393 12.9937 8.58367 12.4444 7.44916 11.9435V11.7385C7.44916 11.618 7.50815 11.5112 7.59942 11.4533C8.9164 10.6174 10.2749 9.84618 11.6708 9.14375C11.9975 8.97935 12.1351 8.56862 11.9782 8.22636C11.8213 7.8841 11.4292 7.73991 11.1025 7.90431C9.66817 8.62607 8.27241 9.4185 6.91934 10.2773C6.52263 10.529 6.25594 10.9411 6.16822 11.4028C5.42016 11.1013 4.66227 10.8205 3.89516 10.5614C3.30644 10.3625 2.71229 10.1762 2.11301 10.0029C1.86808 9.93211 1.68419 9.71953 1.64094 9.45723C1.5977 9.19492 1.70288 8.93004 1.91094 8.77725C4.78605 6.66599 7.87001 4.84527 11.124 3.35585Z" class="fill"/>
                        <path d="M12.3149 14.9683C14.4489 13.7738 16.691 12.7639 19.0217 11.959C19.1392 13.256 19.2142 14.5657 19.2453 15.8869C19.2519 16.1703 19.0918 16.429 18.8421 16.5382C16.3473 17.6294 13.9744 18.9655 11.7506 20.518C11.5302 20.6719 11.2431 20.6719 11.0228 20.518C8.799 18.9655 6.42605 17.6294 3.9313 16.5382C3.68155 16.429 3.52142 16.1703 3.52809 15.8869C3.55916 14.5656 3.63417 13.2558 3.75165 11.9587C4.55752 12.237 5.35279 12.5398 6.13666 12.8662V14.0308C5.74435 14.2685 5.48041 14.7129 5.48041 15.2218C5.48041 15.6759 5.69048 16.0785 6.01435 16.3289C5.93602 16.6778 5.8201 17.0192 5.66658 17.3462C6.06269 17.542 6.45541 17.7442 6.84462 17.9525C7.06629 17.4802 7.22701 16.9845 7.32678 16.4783C7.78559 16.264 8.10541 15.7821 8.10541 15.2218C8.10541 14.7129 7.84146 14.2685 7.44916 14.0308V13.4397C8.47413 13.9089 9.47815 14.4191 10.4593 14.9683C11.0391 15.2928 11.7352 15.2928 12.3149 14.9683Z" class="fill"/>
                        <path d="M4.7911 18.6248C5.15784 18.2406 5.4498 17.8078 5.66658 17.3462C6.06269 17.542 6.45541 17.7442 6.84462 17.9525C6.56589 18.5464 6.19059 19.1032 5.71918 19.597C5.4629 19.8655 5.04738 19.8655 4.7911 19.597C4.53482 19.3286 4.53482 18.8933 4.7911 18.6248Z" class="fill"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4606 6.28821C18.8732 6.70081 18.8732 7.36978 18.4606 7.78238L10.0083 16.2347C9.59568 16.6473 8.92671 16.6473 8.51411 16.2347L4.28797 12.0085C3.87536 11.5959 3.87536 10.927 4.28797 10.5144C4.70057 10.1018 5.36953 10.1018 5.78214 10.5144L9.2612 13.9934L16.9664 6.28821C17.379 5.87561 18.048 5.87561 18.4606 6.28821Z" fill="white"/>
                    </svg>
                </div>
                <div class="module__info">
                    <div class="module__head">
                        <div class="module__name">
                            1 модуль
                        </div>
                        <div class="module__statuses">
                            <div class="module__status module__status-disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.36499 1.19934C5.5793 1.19934 4.13171 2.64693 4.13171 4.43262V6.94739H3.77246C2.97882 6.94739 2.33545 7.59076 2.33545 8.3844V12.6954C2.33545 13.4891 2.97882 14.1324 3.77246 14.1324H10.9575C11.7512 14.1324 12.3945 13.4891 12.3945 12.6954V8.3844C12.3945 7.59076 11.7512 6.94739 10.9575 6.94739H10.5983V4.43262C10.5983 2.64693 9.15068 1.19934 7.36499 1.19934ZM9.52051 6.94739V4.43262C9.52051 3.24216 8.55545 2.2771 7.36499 2.2771C6.17453 2.2771 5.20947 3.24216 5.20947 4.43262V6.94739H9.52051Z" fill="#8F95A1"/>
                                </svg>    
                                Недоступен
                            </div>
                            <div class="module__status module__status-unlock">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                    <path d="M11.124 3.35585C11.2915 3.27917 11.4819 3.27917 11.6495 3.35585C14.9034 4.84527 17.9874 6.666 20.8625 8.77726C21.0706 8.93005 21.1757 9.19493 21.1325 9.45724C21.0893 9.71954 20.9054 9.93213 20.6604 10.003C20.0611 10.1763 19.467 10.3629 18.8782 10.5618C16.4886 11.3692 14.1882 12.3851 11.9967 13.589L11.9938 13.5906C11.8944 13.6452 11.7953 13.7002 11.6964 13.7556C11.5031 13.8637 11.2711 13.8637 11.0779 13.7556C10.978 13.6997 10.8779 13.6442 10.7776 13.589C9.69393 12.9937 8.58367 12.4444 7.44916 11.9435V11.7385C7.44916 11.618 7.50815 11.5112 7.59942 11.4533C8.9164 10.6174 10.2749 9.84618 11.6708 9.14375C11.9975 8.97935 12.1351 8.56862 11.9782 8.22636C11.8213 7.8841 11.4292 7.73991 11.1025 7.90431C9.66817 8.62607 8.27241 9.4185 6.91934 10.2773C6.52263 10.529 6.25594 10.9411 6.16822 11.4028C5.42016 11.1013 4.66227 10.8205 3.89516 10.5614C3.30644 10.3625 2.71229 10.1762 2.11301 10.0029C1.86808 9.93211 1.68419 9.71953 1.64094 9.45723C1.5977 9.19492 1.70288 8.93004 1.91094 8.77725C4.78605 6.66599 7.87001 4.84527 11.124 3.35585Z" class="fill"/>
                                    <path d="M12.3149 14.9683C14.4489 13.7738 16.691 12.7639 19.0217 11.959C19.1392 13.256 19.2142 14.5657 19.2453 15.8869C19.2519 16.1703 19.0918 16.429 18.8421 16.5382C16.3473 17.6294 13.9744 18.9655 11.7506 20.518C11.5302 20.6719 11.2431 20.6719 11.0228 20.518C8.799 18.9655 6.42605 17.6294 3.9313 16.5382C3.68155 16.429 3.52142 16.1703 3.52809 15.8869C3.55916 14.5656 3.63417 13.2558 3.75165 11.9587C4.55752 12.237 5.35279 12.5398 6.13666 12.8662V14.0308C5.74435 14.2685 5.48041 14.7129 5.48041 15.2218C5.48041 15.6759 5.69048 16.0785 6.01435 16.3289C5.93602 16.6778 5.8201 17.0192 5.66658 17.3462C6.06269 17.542 6.45541 17.7442 6.84462 17.9525C7.06629 17.4802 7.22701 16.9845 7.32678 16.4783C7.78559 16.264 8.10541 15.7821 8.10541 15.2218C8.10541 14.7129 7.84146 14.2685 7.44916 14.0308V13.4397C8.47413 13.9089 9.47815 14.4191 10.4593 14.9683C11.0391 15.2928 11.7352 15.2928 12.3149 14.9683Z" class="fill"/>
                                    <path d="M4.7911 18.6248C5.15784 18.2406 5.4498 17.8078 5.66658 17.3462C6.06269 17.542 6.45541 17.7442 6.84462 17.9525C6.56589 18.5464 6.19059 19.1032 5.71918 19.597C5.4629 19.8655 5.04738 19.8655 4.7911 19.597C4.53482 19.3286 4.53482 18.8933 4.7911 18.6248Z" class="fill"/>
                                </svg>
                                Доступен
                            </div>
                            <div class="module__status module__status-passed">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.86474 12.3682C9.0393 12.3682 11.6128 9.79467 11.6128 6.62012C11.6128 3.44556 9.0393 0.87207 5.86474 0.87207C2.69019 0.87207 0.116699 3.44556 0.116699 6.62012C0.116699 9.79467 2.69019 12.3682 5.86474 12.3682ZM8.6357 5.32043C8.81075 5.07974 8.75753 4.74272 8.51684 4.56767C8.27615 4.39262 7.93913 4.44583 7.76408 4.68652L5.26098 8.12828L3.91065 6.77795C3.7002 6.5675 3.359 6.5675 3.14856 6.77795C2.93811 6.9884 2.93811 7.32959 3.14856 7.54004L4.94482 9.3363C5.05626 9.44774 5.2109 9.50481 5.36802 9.49249C5.52513 9.48016 5.66898 9.39967 5.76168 9.27221L8.6357 5.32043Z" fill="white"/>
                                </svg>
                                Пройден
                            </div>
                        </div>
                    </div>
                    <div class="module__text">
                        Пройдите обучение по бренду Medoff и ответьте на 7 вопросов
                    </div>
                </div>
            </div>

            <a href="./education2" class="module"><!--.module-done--><!--.module-disabled-->
                <div class="module__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                        <path d="M11.124 3.35585C11.2915 3.27917 11.4819 3.27917 11.6495 3.35585C14.9034 4.84527 17.9874 6.666 20.8625 8.77726C21.0706 8.93005 21.1757 9.19493 21.1325 9.45724C21.0893 9.71954 20.9054 9.93213 20.6604 10.003C20.0611 10.1763 19.467 10.3629 18.8782 10.5618C16.4886 11.3692 14.1882 12.3851 11.9967 13.589L11.9938 13.5906C11.8944 13.6452 11.7953 13.7002 11.6964 13.7556C11.5031 13.8637 11.2711 13.8637 11.0779 13.7556C10.978 13.6997 10.8779 13.6442 10.7776 13.589C9.69393 12.9937 8.58367 12.4444 7.44916 11.9435V11.7385C7.44916 11.618 7.50815 11.5112 7.59942 11.4533C8.9164 10.6174 10.2749 9.84618 11.6708 9.14375C11.9975 8.97935 12.1351 8.56862 11.9782 8.22636C11.8213 7.8841 11.4292 7.73991 11.1025 7.90431C9.66817 8.62607 8.27241 9.4185 6.91934 10.2773C6.52263 10.529 6.25594 10.9411 6.16822 11.4028C5.42016 11.1013 4.66227 10.8205 3.89516 10.5614C3.30644 10.3625 2.71229 10.1762 2.11301 10.0029C1.86808 9.93211 1.68419 9.71953 1.64094 9.45723C1.5977 9.19492 1.70288 8.93004 1.91094 8.77725C4.78605 6.66599 7.87001 4.84527 11.124 3.35585Z" class="fill"/>
                        <path d="M12.3149 14.9683C14.4489 13.7738 16.691 12.7639 19.0217 11.959C19.1392 13.256 19.2142 14.5657 19.2453 15.8869C19.2519 16.1703 19.0918 16.429 18.8421 16.5382C16.3473 17.6294 13.9744 18.9655 11.7506 20.518C11.5302 20.6719 11.2431 20.6719 11.0228 20.518C8.799 18.9655 6.42605 17.6294 3.9313 16.5382C3.68155 16.429 3.52142 16.1703 3.52809 15.8869C3.55916 14.5656 3.63417 13.2558 3.75165 11.9587C4.55752 12.237 5.35279 12.5398 6.13666 12.8662V14.0308C5.74435 14.2685 5.48041 14.7129 5.48041 15.2218C5.48041 15.6759 5.69048 16.0785 6.01435 16.3289C5.93602 16.6778 5.8201 17.0192 5.66658 17.3462C6.06269 17.542 6.45541 17.7442 6.84462 17.9525C7.06629 17.4802 7.22701 16.9845 7.32678 16.4783C7.78559 16.264 8.10541 15.7821 8.10541 15.2218C8.10541 14.7129 7.84146 14.2685 7.44916 14.0308V13.4397C8.47413 13.9089 9.47815 14.4191 10.4593 14.9683C11.0391 15.2928 11.7352 15.2928 12.3149 14.9683Z" class="fill"/>
                        <path d="M4.7911 18.6248C5.15784 18.2406 5.4498 17.8078 5.66658 17.3462C6.06269 17.542 6.45541 17.7442 6.84462 17.9525C6.56589 18.5464 6.19059 19.1032 5.71918 19.597C5.4629 19.8655 5.04738 19.8655 4.7911 19.597C4.53482 19.3286 4.53482 18.8933 4.7911 18.6248Z" class="fill"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4606 6.28821C18.8732 6.70081 18.8732 7.36978 18.4606 7.78238L10.0083 16.2347C9.59568 16.6473 8.92671 16.6473 8.51411 16.2347L4.28797 12.0085C3.87536 11.5959 3.87536 10.927 4.28797 10.5144C4.70057 10.1018 5.36953 10.1018 5.78214 10.5144L9.2612 13.9934L16.9664 6.28821C17.379 5.87561 18.048 5.87561 18.4606 6.28821Z" fill="white"/>
                    </svg>
                </div>
                <div class="module__info">
                    <div class="module__head">
                        <div class="module__name">
                            2 модуль
                        </div>
                        <div class="module__statuses">
                            <div class="module__status module__status-disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.36499 1.19934C5.5793 1.19934 4.13171 2.64693 4.13171 4.43262V6.94739H3.77246C2.97882 6.94739 2.33545 7.59076 2.33545 8.3844V12.6954C2.33545 13.4891 2.97882 14.1324 3.77246 14.1324H10.9575C11.7512 14.1324 12.3945 13.4891 12.3945 12.6954V8.3844C12.3945 7.59076 11.7512 6.94739 10.9575 6.94739H10.5983V4.43262C10.5983 2.64693 9.15068 1.19934 7.36499 1.19934ZM9.52051 6.94739V4.43262C9.52051 3.24216 8.55545 2.2771 7.36499 2.2771C6.17453 2.2771 5.20947 3.24216 5.20947 4.43262V6.94739H9.52051Z" fill="#8F95A1"/>
                                </svg>    
                                Недоступен
                            </div>
                            <div class="module__status module__status-unlock">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                    <path d="M11.124 3.35585C11.2915 3.27917 11.4819 3.27917 11.6495 3.35585C14.9034 4.84527 17.9874 6.666 20.8625 8.77726C21.0706 8.93005 21.1757 9.19493 21.1325 9.45724C21.0893 9.71954 20.9054 9.93213 20.6604 10.003C20.0611 10.1763 19.467 10.3629 18.8782 10.5618C16.4886 11.3692 14.1882 12.3851 11.9967 13.589L11.9938 13.5906C11.8944 13.6452 11.7953 13.7002 11.6964 13.7556C11.5031 13.8637 11.2711 13.8637 11.0779 13.7556C10.978 13.6997 10.8779 13.6442 10.7776 13.589C9.69393 12.9937 8.58367 12.4444 7.44916 11.9435V11.7385C7.44916 11.618 7.50815 11.5112 7.59942 11.4533C8.9164 10.6174 10.2749 9.84618 11.6708 9.14375C11.9975 8.97935 12.1351 8.56862 11.9782 8.22636C11.8213 7.8841 11.4292 7.73991 11.1025 7.90431C9.66817 8.62607 8.27241 9.4185 6.91934 10.2773C6.52263 10.529 6.25594 10.9411 6.16822 11.4028C5.42016 11.1013 4.66227 10.8205 3.89516 10.5614C3.30644 10.3625 2.71229 10.1762 2.11301 10.0029C1.86808 9.93211 1.68419 9.71953 1.64094 9.45723C1.5977 9.19492 1.70288 8.93004 1.91094 8.77725C4.78605 6.66599 7.87001 4.84527 11.124 3.35585Z" class="fill"/>
                                    <path d="M12.3149 14.9683C14.4489 13.7738 16.691 12.7639 19.0217 11.959C19.1392 13.256 19.2142 14.5657 19.2453 15.8869C19.2519 16.1703 19.0918 16.429 18.8421 16.5382C16.3473 17.6294 13.9744 18.9655 11.7506 20.518C11.5302 20.6719 11.2431 20.6719 11.0228 20.518C8.799 18.9655 6.42605 17.6294 3.9313 16.5382C3.68155 16.429 3.52142 16.1703 3.52809 15.8869C3.55916 14.5656 3.63417 13.2558 3.75165 11.9587C4.55752 12.237 5.35279 12.5398 6.13666 12.8662V14.0308C5.74435 14.2685 5.48041 14.7129 5.48041 15.2218C5.48041 15.6759 5.69048 16.0785 6.01435 16.3289C5.93602 16.6778 5.8201 17.0192 5.66658 17.3462C6.06269 17.542 6.45541 17.7442 6.84462 17.9525C7.06629 17.4802 7.22701 16.9845 7.32678 16.4783C7.78559 16.264 8.10541 15.7821 8.10541 15.2218C8.10541 14.7129 7.84146 14.2685 7.44916 14.0308V13.4397C8.47413 13.9089 9.47815 14.4191 10.4593 14.9683C11.0391 15.2928 11.7352 15.2928 12.3149 14.9683Z" class="fill"/>
                                    <path d="M4.7911 18.6248C5.15784 18.2406 5.4498 17.8078 5.66658 17.3462C6.06269 17.542 6.45541 17.7442 6.84462 17.9525C6.56589 18.5464 6.19059 19.1032 5.71918 19.597C5.4629 19.8655 5.04738 19.8655 4.7911 19.597C4.53482 19.3286 4.53482 18.8933 4.7911 18.6248Z" class="fill"/>
                                </svg>
                                В процессе
                            </div>
                            <div class="module__status module__status-passed">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.86474 12.3682C9.0393 12.3682 11.6128 9.79467 11.6128 6.62012C11.6128 3.44556 9.0393 0.87207 5.86474 0.87207C2.69019 0.87207 0.116699 3.44556 0.116699 6.62012C0.116699 9.79467 2.69019 12.3682 5.86474 12.3682ZM8.6357 5.32043C8.81075 5.07974 8.75753 4.74272 8.51684 4.56767C8.27615 4.39262 7.93913 4.44583 7.76408 4.68652L5.26098 8.12828L3.91065 6.77795C3.7002 6.5675 3.359 6.5675 3.14856 6.77795C2.93811 6.9884 2.93811 7.32959 3.14856 7.54004L4.94482 9.3363C5.05626 9.44774 5.2109 9.50481 5.36802 9.49249C5.52513 9.48016 5.66898 9.39967 5.76168 9.27221L8.6357 5.32043Z" fill="white"/>
                                </svg>
                                Пройден
                            </div>
                        </div>
                    </div>
                    <div class="module__text">
                        Пройдите обучение по бренду Хуторок и ответьте на 5 вопросов
                    </div>
                </div>
            </a>

            <div class="module module-disabled"><!--.module-done--><!--.module-disabled-->
                <div class="module__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path d="M4.09033 5.00588C4.09033 4.45638 4.53579 4.01093 5.08528 4.01093H9.06509C9.61459 4.01093 10.06 4.45638 10.06 5.00588V8.98569C10.06 9.53519 9.61459 9.98064 9.06509 9.98064H5.08528C4.53579 9.98064 4.09033 9.53519 4.09033 8.98569V5.00588Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.09033 13.6288C4.09033 13.0793 4.53579 12.6338 5.08528 12.6338H9.06509C9.61459 12.6338 10.06 13.0793 10.06 13.6288V17.6086C10.06 18.1581 9.61459 18.6036 9.06509 18.6036H5.08528C4.53579 18.6036 4.09033 18.1581 4.09033 17.6086V13.6288Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.7133 5.00588C12.7133 4.45638 13.1587 4.01093 13.7082 4.01093H17.688C18.2375 4.01093 18.683 4.45638 18.683 5.00588V8.98569C18.683 9.53519 18.2375 9.98064 17.688 9.98064H13.7082C13.1587 9.98064 12.7133 9.53519 12.7133 8.98569V5.00588Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.74354 6.66413H7.40684V7.32743H6.74354V6.66413Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.74354 15.2871H7.40684V15.9504H6.74354V15.2871Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.3665 6.66413H16.0298V7.32743H15.3665V6.66413Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.7133 12.6338H13.3766V13.2971H12.7133V12.6338Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.7133 17.9403H13.3766V18.6036H12.7133V17.9403Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.0197 12.6338H18.683V13.2971H18.0197V12.6338Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.0197 17.9403H18.683V18.6036H18.0197V17.9403Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.3665 15.2871H16.0298V15.9504H15.3665V15.2871Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4606 6.28821C18.8732 6.70081 18.8732 7.36978 18.4606 7.78238L10.0083 16.2347C9.59568 16.6473 8.92671 16.6473 8.51411 16.2347L4.28797 12.0085C3.87536 11.5959 3.87536 10.927 4.28797 10.5144C4.70057 10.1018 5.36953 10.1018 5.78214 10.5144L9.2612 13.9934L16.9664 6.28821C17.379 5.87561 18.048 5.87561 18.4606 6.28821Z" fill="white"/>
                    </svg>
                </div>
                <div class="module__info">
                    <div class="module__head">
                        <div class="module__name">
                            Загрузить чек
                        </div>
                        <div class="module__statuses">
                            <div class="module__status module__status-disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.36499 1.19934C5.5793 1.19934 4.13171 2.64693 4.13171 4.43262V6.94739H3.77246C2.97882 6.94739 2.33545 7.59076 2.33545 8.3844V12.6954C2.33545 13.4891 2.97882 14.1324 3.77246 14.1324H10.9575C11.7512 14.1324 12.3945 13.4891 12.3945 12.6954V8.3844C12.3945 7.59076 11.7512 6.94739 10.9575 6.94739H10.5983V4.43262C10.5983 2.64693 9.15068 1.19934 7.36499 1.19934ZM9.52051 6.94739V4.43262C9.52051 3.24216 8.55545 2.2771 7.36499 2.2771C6.17453 2.2771 5.20947 3.24216 5.20947 4.43262V6.94739H9.52051Z" fill="#8F95A1"/>
                                </svg>    
                                Недоступен
                            </div>
                            <div class="module__status module__status-unlock">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path d="M4.09033 5.00588C4.09033 4.45638 4.53579 4.01093 5.08528 4.01093H9.06509C9.61459 4.01093 10.06 4.45638 10.06 5.00588V8.98569C10.06 9.53519 9.61459 9.98064 9.06509 9.98064H5.08528C4.53579 9.98064 4.09033 9.53519 4.09033 8.98569V5.00588Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.09033 13.6288C4.09033 13.0793 4.53579 12.6338 5.08528 12.6338H9.06509C9.61459 12.6338 10.06 13.0793 10.06 13.6288V17.6086C10.06 18.1581 9.61459 18.6036 9.06509 18.6036H5.08528C4.53579 18.6036 4.09033 18.1581 4.09033 17.6086V13.6288Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.7133 5.00588C12.7133 4.45638 13.1587 4.01093 13.7082 4.01093H17.688C18.2375 4.01093 18.683 4.45638 18.683 5.00588V8.98569C18.683 9.53519 18.2375 9.98064 17.688 9.98064H13.7082C13.1587 9.98064 12.7133 9.53519 12.7133 8.98569V5.00588Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M6.74354 6.66413H7.40684V7.32743H6.74354V6.66413Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M6.74354 15.2871H7.40684V15.9504H6.74354V15.2871Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.3665 6.66413H16.0298V7.32743H15.3665V6.66413Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.7133 12.6338H13.3766V13.2971H12.7133V12.6338Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.7133 17.9403H13.3766V18.6036H12.7133V17.9403Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.0197 12.6338H18.683V13.2971H18.0197V12.6338Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.0197 17.9403H18.683V18.6036H18.0197V17.9403Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.3665 15.2871H16.0298V15.9504H15.3665V15.2871Z" class="stroke" stroke-width="1.5544" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                Доступен
                            </div>
                            <div class="module__status module__status-passed">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.86474 12.3682C9.0393 12.3682 11.6128 9.79467 11.6128 6.62012C11.6128 3.44556 9.0393 0.87207 5.86474 0.87207C2.69019 0.87207 0.116699 3.44556 0.116699 6.62012C0.116699 9.79467 2.69019 12.3682 5.86474 12.3682ZM8.6357 5.32043C8.81075 5.07974 8.75753 4.74272 8.51684 4.56767C8.27615 4.39262 7.93913 4.44583 7.76408 4.68652L5.26098 8.12828L3.91065 6.77795C3.7002 6.5675 3.359 6.5675 3.14856 6.77795C2.93811 6.9884 2.93811 7.32959 3.14856 7.54004L4.94482 9.3363C5.05626 9.44774 5.2109 9.50481 5.36802 9.49249C5.52513 9.48016 5.66898 9.39967 5.76168 9.27221L8.6357 5.32043Z" fill="white"/>
                                </svg>
                                Пройден
                            </div>
                        </div>
                    </div>
                    <div class="module__text">
                        Отсканируйте чеки с товарами акционных брендов
                    </div>
                </div>
            </div>

            <div class="module module-disabled"><!--.module-done--><!--.module-disabled-->
                <div class="module__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path d="M3.42728 10.1669V17.4632C3.42728 18.1958 4.02122 18.7898 4.75388 18.7898H17.3566C18.0892 18.7898 18.6832 18.1958 18.6832 17.4632V10.1669M11.3869 4.52882C11.3869 3.24667 12.4263 2.20728 13.7084 2.20728C14.9906 2.20728 16.03 3.24667 16.03 4.52882C16.03 5.81098 14.9906 6.85037 13.7084 6.85037C13.0588 6.85037 11.3869 6.85037 11.3869 6.85037M11.3869 4.52882C11.3869 5.16138 11.3869 6.85037 11.3869 6.85037M11.3869 4.52882C11.3869 3.24667 10.3475 2.20728 9.06532 2.20728C7.78317 2.20728 6.74377 3.24667 6.74377 4.52882C6.74377 5.81098 7.78317 6.85037 9.06532 6.85037C9.71492 6.85037 11.3869 6.85037 11.3869 6.85037M11.3869 6.85037V18.7898M19.0148 10.1669H3.09563C2.54613 10.1669 2.10068 9.72142 2.10068 9.17192V7.84532C2.10068 7.29583 2.54613 6.85037 3.09563 6.85037H19.0148C19.5643 6.85037 20.0098 7.29583 20.0098 7.84532V9.17192C20.0098 9.72142 19.5643 10.1669 19.0148 10.1669Z" class="stroke" stroke-width="1.3266" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4606 6.28821C18.8732 6.70081 18.8732 7.36978 18.4606 7.78238L10.0083 16.2347C9.59568 16.6473 8.92671 16.6473 8.51411 16.2347L4.28797 12.0085C3.87536 11.5959 3.87536 10.927 4.28797 10.5144C4.70057 10.1018 5.36953 10.1018 5.78214 10.5144L9.2612 13.9934L16.9664 6.28821C17.379 5.87561 18.048 5.87561 18.4606 6.28821Z" fill="white"/>
                    </svg>
                </div>
                <div class="module__info">
                    <div class="module__head">
                        <div class="module__name">
                            Обмен баллов
                        </div>
                        <div class="module__statuses">
                            <div class="module__status module__status-disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.36499 1.19934C5.5793 1.19934 4.13171 2.64693 4.13171 4.43262V6.94739H3.77246C2.97882 6.94739 2.33545 7.59076 2.33545 8.3844V12.6954C2.33545 13.4891 2.97882 14.1324 3.77246 14.1324H10.9575C11.7512 14.1324 12.3945 13.4891 12.3945 12.6954V8.3844C12.3945 7.59076 11.7512 6.94739 10.9575 6.94739H10.5983V4.43262C10.5983 2.64693 9.15068 1.19934 7.36499 1.19934ZM9.52051 6.94739V4.43262C9.52051 3.24216 8.55545 2.2771 7.36499 2.2771C6.17453 2.2771 5.20947 3.24216 5.20947 4.43262V6.94739H9.52051Z" fill="#8F95A1"/>
                                </svg>    
                                Недоступен
                            </div>
                            <div class="module__status module__status-unlock">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path d="M3.42728 10.1669V17.4632C3.42728 18.1958 4.02122 18.7898 4.75388 18.7898H17.3566C18.0892 18.7898 18.6832 18.1958 18.6832 17.4632V10.1669M11.3869 4.52882C11.3869 3.24667 12.4263 2.20728 13.7084 2.20728C14.9906 2.20728 16.03 3.24667 16.03 4.52882C16.03 5.81098 14.9906 6.85037 13.7084 6.85037C13.0588 6.85037 11.3869 6.85037 11.3869 6.85037M11.3869 4.52882C11.3869 5.16138 11.3869 6.85037 11.3869 6.85037M11.3869 4.52882C11.3869 3.24667 10.3475 2.20728 9.06532 2.20728C7.78317 2.20728 6.74377 3.24667 6.74377 4.52882C6.74377 5.81098 7.78317 6.85037 9.06532 6.85037C9.71492 6.85037 11.3869 6.85037 11.3869 6.85037M11.3869 6.85037V18.7898M19.0148 10.1669H3.09563C2.54613 10.1669 2.10068 9.72142 2.10068 9.17192V7.84532C2.10068 7.29583 2.54613 6.85037 3.09563 6.85037H19.0148C19.5643 6.85037 20.0098 7.29583 20.0098 7.84532V9.17192C20.0098 9.72142 19.5643 10.1669 19.0148 10.1669Z" class="stroke" stroke-width="1.3266" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                Доступен
                            </div>
                            <div class="module__status module__status-passed">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.86474 12.3682C9.0393 12.3682 11.6128 9.79467 11.6128 6.62012C11.6128 3.44556 9.0393 0.87207 5.86474 0.87207C2.69019 0.87207 0.116699 3.44556 0.116699 6.62012C0.116699 9.79467 2.69019 12.3682 5.86474 12.3682ZM8.6357 5.32043C8.81075 5.07974 8.75753 4.74272 8.51684 4.56767C8.27615 4.39262 7.93913 4.44583 7.76408 4.68652L5.26098 8.12828L3.91065 6.77795C3.7002 6.5675 3.359 6.5675 3.14856 6.77795C2.93811 6.9884 2.93811 7.32959 3.14856 7.54004L4.94482 9.3363C5.05626 9.44774 5.2109 9.50481 5.36802 9.49249C5.52513 9.48016 5.66898 9.39967 5.76168 9.27221L8.6357 5.32043Z" fill="white"/>
                                </svg>
                                Пройден
                            </div>
                        </div>
                    </div>
                    <div class="module__text">
                        Обменяйте баллы на карты Озон
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>