<div class="modal modal-trade {% if allModalView == true %}active{% endif %}" id="modal-trade4">
    <div class="modal__container">
        <div class="modal__title">
            Вам начислено<br> 1500 баллов
        </div>
        <button class="modal__button" data-window-close>
            OK
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>