<div class="modal modal-trade {% if allModalView == true %}active{% endif %}" id="modal-trade3">
    <div class="modal__container">
        <div class="modal__title">
            Недостаточно баллов для выбора данной карточки
        </div>
        <div class="modal__text modal__text-light">
            Выберите карточку меньшим номиналом
        </div>
        <button class="modal__button" data-window-close>
            Выбрать другую карточку
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>