<div class="modal modal-cookie {% if allModalView == true %}active{% endif %}" id="modal-cookie">
    <div class="modal__container">
        <div class="cookie">
            <div class="cookie__text">
                На нашем веб-сайте используются файлы cookie. Продолжая навигацию, мы предполагаем, что вы разрешаете использовать файлы cookie, как указано в нашей Политике конфиденциальности.
            </div>
            <div class="cookie__buttons">
                <div class="cookie__button" data-cookie-accept>
                    Принять
                </div>
                <div class="cookie__button cookie__button-white" data-cookie-close>
                    Отказаться
                </div>
            </div>
            <div class="cookie__close" data-cookie-close>
                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.991211 14.2736L13.5384 1.72644" stroke="#170F49" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.5384 14.2736L0.991211 1.72644" stroke="#170F49" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>        
    </div>
</div>