<div class="modal modal-code {% if allModalView == true %}active{% endif %}" id="modal-code">
    <div class="modal__container">
        <div class="modal__title">
            Код отправлен
        </div>
        <div class="modal__text">
            Вам необходимо проверить почту указанную при регистрации, а также папку СПАМ!
        </div>
        <button class="modal__button" data-modal-close>
            ОК
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>