<div class="modal modal-cong {% if allModalView == true %}active{% endif %}" id="modal-lose">
    <div class="modal__container">
        <div class="modal__title">
            К сожалению, Вы не ответили верно на все вопросы.
        </div>
        <div class="modal__text">
            Предлагаем ещё раз ознакомиться с данным модулем
        </div>
        <button class="modal__button">
            К обучению
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>