<div class="modal modal-login {% if allModalView == true %}active{% endif %}" id="modal-login">
    <div class="modal__container">
        <div class="modal__title">
            Войти
        </div>
        <div class="modal__text">
            Необходимо указывать действующий E-mail к которому вы имеете доступ
        </div>
        <form class="modal__form">
            <input type="text" class="input" placeholder="Имя">
            <input type="text" class="input" placeholder="E-mail">
            <div class="modal__form-group">
                <div class="modal__button modal__button-second" data-modal-open="#modal-code">
                    Отправить код
                </div>
                <input type="text" class="input" placeholder="1234">
            </div>
            <a href="./upload.html" class="modal__button">
                Войти
            </a>
            <label class="checkbox">
                <input type="checkbox" class="checkbox__input" checked>
                <span class="checkbox__icon"></span>
                <div class="checkbox__text">
                    Настоящим подтверждаю, что я ознакомлен с <a href="#">правилами акции</a>
                </div>
            </label>
            <label class="checkbox">
                <input type="checkbox" class="checkbox__input" checked>
                <span class="checkbox__icon"></span>
                <div class="checkbox__text">
                    Настоящим подтверждаю, что я ознакомлен с политикой конфиденциальности и согласен на обработку персональных данных
                    в соответствии с <a href="#">указанным здесь текстом</a>
                </div>
            </label>
        </form>
    </div>
    <div class="modal__overlay"></div>
</div>