<div class="modal modal-logout {% if allModalView == true %}active{% endif %}" id="modal-logout">
    <div class="modal__container">
        <div class="modal__title">
            Выйти из личного кабинета?
        </div>
        <button class="modal__button">
            Да
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>