<div class="modal modal-upload {% if allModalView == true %}active{% endif %}" id="modal-upload">
    <div class="modal__container">
        <div class="modal__header">
            Загрузить новый чек
            <div class="modal__close" data-modal-close>
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18.5L18 6.5M6 6.5L18 18.5" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div class="modal__body">
            <div class="upload-file">
                <!-- Тут будет итоговый файл либо с камеры или тот который прикрепили в формате строки base64 -->
                <input name="" type="text" id="final-result-file" class="hide">
                
                <div class="upload-file__title">
                    Отсканируйте чек
                </div>
                <div class="upload-file__text">
                    Наведите камеру на QR-код в чеке
                </div>

                <div class="upload-file__preview">
                    <div class="upload-file__icon">
                        <svg width="103" height="104" viewBox="0 0 103 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.2987 27.0006C27.7491 29.4839 25.1546 31.1166 22.2566 31.5285C20.6281 31.7599 19.0058 32.0104 17.3898 32.2797C12.8712 33.0326 9.65625 37.0076 9.65625 41.5885V77.75C9.65625 83.083 13.9795 87.4062 19.3125 87.4062H83.6875C89.0205 87.4062 93.3438 83.083 93.3438 77.75V41.5885C93.3438 37.0076 90.1288 33.0327 85.6102 32.2797C83.9942 32.0104 82.3719 31.7599 80.7434 31.5285C77.8454 31.1167 75.2509 29.484 73.7013 27.0006L70.1769 21.3527C68.5526 18.7497 65.7887 17.0589 62.7248 16.8944C59.0085 16.6948 55.2661 16.5938 51.5 16.5938C47.7339 16.5938 43.9915 16.6948 40.2752 16.8944C37.2113 17.0589 34.4474 18.7497 32.8231 21.3527L29.2987 27.0006Z" stroke="#D9D9D9" stroke-width="6.4375" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M70.8125 55.2188C70.8125 65.8847 62.166 74.5312 51.5 74.5312C40.834 74.5312 32.1875 65.8847 32.1875 55.2188C32.1875 44.5528 40.834 35.9062 51.5 35.9062C62.166 35.9062 70.8125 44.5528 70.8125 55.2188Z" stroke="#D9D9D9" stroke-width="6.4375" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M80.4688 45.5625H80.5009V45.5947H80.4688V45.5625Z" stroke="#D9D9D9" stroke-width="6.4375" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <video id="video" class="upload__video"></video>
                    <canvas id="canvas" class="upload__canvas"></canvas>
                    <div class="upload__buttons-container">
                        <div class="upload-file__button" id="startbutton">
                            Открыть камеру
                        </div>
                        <div class="upload-file__button hide" id="savebutton">
                            Сделать фото
                        </div>
                    </div>
                    <div class="upload__photo hide" id="imgContainer">
                        <img src="" alt="" id="photo">
                    </div>
                </div>
                <!-- В этом инпуте будет храниться только файл который прикрепляется -->
                <input name="" type="file" id="check-input" class="hide" accept="image/png, image/gif, image/jpeg">
                <label for="check-input" class="file">
                    <div class="file__icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1716 7L8.58579 13.5858C7.80474 14.3668 7.80474 15.6332 8.58579 16.4142C9.36684 17.1953 10.6332 17.1953 11.4142 16.4142L17.8284 9.82843C19.3905 8.26633 19.3905 5.73367 17.8284 4.17157C16.2663 2.60948 13.7337 2.60948 12.1716 4.17157L5.75736 10.7574C3.41421 13.1005 3.41421 16.8995 5.75736 19.2426C8.1005 21.5858 11.8995 21.5858 14.2426 19.2426L20.5 13" stroke="#00A1DC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="file__text">
                        Или прикрепите фото чека
                    </div>
                </label>
                <div class="result hide" id="result-file-info">
                    <div class="result__title">
                        Загружен файл:
                    </div>
                    <div class="result__file">
                        <div class="result__file-name" id="file-name">
                            Photo...4344.jpg
                        </div>
                        <div class="result__file__footer">
                            <div class="result__file-size" id="file-size">
                                1 MB
                            </div>
                            <div class="result__file-format" id="file-format">
                                JPG
                            </div>
                        </div>
                        <div class="result__close">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.86361 3.86375C4.03238 3.69502 4.26126 3.60024 4.49991 3.60024C4.73855 3.60024 4.96743 3.69502 5.13621 3.86375L8.99991 7.72745L12.8636 3.86375C12.9466 3.77779 13.0459 3.70923 13.1557 3.66206C13.2655 3.61489 13.3836 3.59006 13.5031 3.58902C13.6226 3.58798 13.7412 3.61076 13.8518 3.65601C13.9624 3.70126 14.0629 3.76809 14.1474 3.85259C14.2319 3.9371 14.2987 4.03758 14.3439 4.14819C14.3892 4.2588 14.412 4.37731 14.4109 4.49681C14.4099 4.61631 14.3851 4.73441 14.3379 4.84421C14.2907 4.95402 14.2222 5.05333 14.1362 5.13635L10.2725 9.00005L14.1362 12.8637C14.3001 13.0335 14.3909 13.2608 14.3888 13.4968C14.3868 13.7328 14.2921 13.9585 14.1252 14.1254C13.9584 14.2923 13.7326 14.3869 13.4967 14.389C13.2607 14.391 13.0333 14.3003 12.8636 14.1363L8.99991 10.2726L5.13621 14.1363C4.96646 14.3003 4.73912 14.391 4.50314 14.389C4.26717 14.3869 4.04144 14.2923 3.87457 14.1254C3.7077 13.9585 3.61305 13.7328 3.611 13.4968C3.60895 13.2608 3.69966 13.0335 3.86361 12.8637L7.72731 9.00005L3.86361 5.13635C3.69488 4.96757 3.6001 4.7387 3.6001 4.50005C3.6001 4.2614 3.69488 4.03252 3.86361 3.86375Z" fill="#9CA3AF"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <div class="modal__button" data-modal-open="#modal-check-send">
                Отправить чек
            </div>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>