<div class="modal modal-lose {% if allModalView == true %}active{% endif %}" id="modal-lose">
    <div class="modal__container">
        <div class="modal__title">
            К сожалению, Вы ответили неправильно на некоторые вопросы!
        </div>
        <div class="modal__buttons">
            <div class="modal__button modal__button-border">
                Еще раз
            </div>
            <div class="modal__button">
                Нет
            </div>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>