<div class="modal modal-start-test active" id="modal-start-test">
    <div class="modal__container">
        <div class="modal__title">
            Примите участие в викторине и выиграйте ирригатор
        </div>
        <button class="modal__button">
            Принять участие
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>