<div class="modal modal-18 active" id="modal-18">
    <div class="modal__container">
        <div class="modal__logo">
            <img src="./src/assets/img/logo.svg" alt="">
        </div>
        <div class="modal__title">
            Вы старше 18 лет?
        </div>
        <div class="modal__buttons">
            <button class="modal__button" data-window-close>
                нет
            </button>
            <button class="modal__button modal__button-white" data-modal-close>
                да
            </button>
        </div>
    </div>
    <div class="modal__blur"></div>
</div>