<div class="modal modal-check-send {% if allModalView == true %}active{% endif %}" id="modal-check-send">
    <div class="modal__container">
        <div class="modal__title">
            Ваш чек принят
        </div>
        <div class="modal__text">
            На проверку чека нам потребуется не более суток
        </div>
        <button class="modal__button" data-modal-close>
            Да
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>