<div class="modal modal-rules {% if allModalView == true %}active{% endif %}" id="modal-rules">
    <div class="modal__container">
        <div class="modal__title">
            ПРАВИЛА ПРОВЕДЕНИЯ РЕКЛАМНОЙ АКЦИИ
        </div>
        <div class="modal__text">Тут скоро будут правила</div>
        <button class="modal__button" data-modal-close>
            Да
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>