<div class="modal modal-trade {% if allModalView == true %}active{% endif %}" id="modal-trade">
    <div class="modal__container">
        <div class="modal__title">
            Вы хотите обменять баллы на карточку номиналом
        </div>
        <div class="modal__text">
            1 500 ₽
        </div>
        <div class="modal__buttons">
            <button class="modal__button" data-window-close>
                нет
            </button>
            <button class="modal__button modal__button-white" data-modal-close>
                да
            </button>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>