<div class="modal modal-cong {% if allModalView == true %}active{% endif %}" id="modal-cong">
    <div class="modal__container">
        <div class="modal__title">
            Поздравляем,<br /> Вы успешно прошли обучение по модулю Хутрок
        </div>
        <div class="modal__text">
            Вы ответили верно на 100% вопросов <br><br>
            Баллы за успешное обучение будут начислены в Вашем личном кабинете
        </div>
        <button class="modal__button">
            OK
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>