<div class="modal modal-rules {% if allModalView == true %}active{% endif %}" id="modal-rules">
    <div class="modal__container">
        <div class="modal__title">
            ПРАВИЛА ПРОВЕДЕНИЯ РЕКЛАМНОЙ АКЦИИ
        </div>
        <div class="modal__title">
            «8 ДА Здоровой улыбке!» (далее – Правила)
        </div>
        <div class="modal__text">
            <b>1. ОСНОВНЫЕ ПОЛОЖЕНИЯ</b><br><br>

            <b>1.1. Название акции: «8 ДА Здоровой улыбке!»</b>
            (далее – Акция).
            Акция проводится в порядке и на условиях, определенных настоящими Правилами.
            Акция носит исключительно рекламный характер, не основана на риске, не является
            лотереей.

            <b>1.2. Организатор Акции:</b><br>
            Акционерное Общество «Хелеон Рус», ИНН/КПП 7703105112/774850001, ОГРН
            1027739007559<br>
            Юридический/Фактический адрес: Российская Федерация, 123112, г. Москва, Пресненская
            наб., д.10, помещение III, комната 9, эт 6<br>
            Р/c 40702810100000272504<br>
            к/с 30101810200000000700<br>
            БИК 044525700<br>
            Организатор Акции осуществляет:<br>
            • Проведение Акции согласно настоящим Правилам Акции.<br>
            • Контроль за соблюдением Правил Акции.<br>
            • Обеспечение призового фонда Акции.<br>
            • Обработку персональных данных участников акции в соответствии с разделом 7
            настоящих Правил.<br>
            Организатор Акции имеет право привлекать к описанным выше действиям третьих лиц
            (Операторов Акции), за действия которых он отвечает, как за свои собственные.<br><br>
            <b>1.3. Оператор 1 Акции (далее – «Оператор 1»):</b><br>
            ООО «Эйс Таргет», ИНН/КПП 7728674590 / 775101001, ОГРН 5087746312176,
            Юридический/Фактический адрес: 108807, Город Москва, вн.тер.г. поселение Первомайское,
            д Горчаково, ул. Школьная, д. 13, к. 1, кв. 42<br>
            Р/c 40702810087060000404 В ПАО РОСБАНК<br>
            к/с 30101810000000000256<br>
            БИК 044525256<br>
            Тел. +7 (495) 685-94-59<br>
            Оператор 1 Акции осуществляет:<br>
            • Взаимодействие с участниками Акции в случае возникновения вопросов по
            разъяснению Правил Акции и ее механике.<br>
            • Обработку персональных данных участников акции в соответствии с разделом 7
            настоящих Правил.<br><br>

            <b>1.4. Оператор 2 Акции (далее – «Оператор 2»):</b><br>
            ООО «Информационные технологические системы», ИНН / КПП 7708360557/770801001,
            ОГРН 1197746586971, Юридический/фактический адрес: 107045, г. Москва, ул. Сретенка, д.
            12, этаж 1 помещ. II ком. 3<br>
            Тел. + 7 (499) 348 8283<br>
            Оператор 2 Акции осуществляет:<br>
            • Определение победителей (обладателей призов, указанных в п. 2.1.настоящих Правил).<br>
            • Направление победителям Специальных и Главных призов, указанных в п. 2.1.
            настоящих Правил.<br>
            • Обязанности налогового агента - исчисляет налог на доходы физических лиц и
            удерживает его из денежной части приза в соответствии с действующим налоговым
            законодательством Российской Федерации для перечисления его в бюджет
            соответствующего уровня.<br>
            • Обработку персональных данных участников акции в соответствии с разделом 7
            настоящих Правил.<br><br>
            <b>1.5. Территория проведения Акции Российская Федерация:</b><br>
            Акция проводится в магазинах торговой сети «Магнит»: «Магнит у Дома», «Магнит
            Семейный», «Магнит Экстра», «Магнит Косметик», расположенных на территории
            субъектов Российской Федерации. В акции также принимают участие онлайн-покупки,
            совершенные с использованием сервиса доставки «Магнит» в приложении «Магнит: акции
            и доставка» (6+).<br><br>
            <b> 1.6. Продукты, принимающие участие в Акции:</b><br>
            Акция проводится в отношении продукции под товарным знаком Sensodyne, кроме
            продукции данного бренда с надписями «не для продажи», а также «продукт
            предназначен для бесплатного распространения» на упаковке (далее – Продукт). Полный
            перечень Продуктов указан в Приложении № 1 к настоящим Правилам.<br><br>
            <b>1.7. Цели Акции:</b><br>
            Акция проводится с целью формирования и поддержания интереса к продукции под
            товарным знаком Sensodyne®, стимулирования продаж Продукта на российском рынке, а
            также проявления лояльности к потребителям Продукта.
            Товарные знаки принадлежат или используются Группой Компаний Хелеон. © 2024 Группа компаний
            Хелеон или лицензиар.<br><br>
            <b>1.8. Сроки проведения Акции:</b><br>
            <b>Исчисляются по московскому времени.</b><br>
            <b>Общий срок проведения Акции:</b> с 20 ноября 2024 г. по 31 января 2025 г. включительно,
            включая срок выдачи призов (далее – Период проведения Акции).<br>
            <b>Период совершения покупки и приема заявок на участие в Акции:</b> с 00 часов 00 минут 20
            ноября 2024 г. по 23 часа 59 минут 17 декабря 2024 г. включительно по московскому
            времени (далее – Период приема заявок для участия в Акции).<br>
            <b>Период определения победителей:</b> с 20 ноября 2024 г. по 23 декабря 2024 г. включительно.<br>
            <b>Общий период направления Победителям призов:</b> не позднее 31 января 2025 г.
            включительно.<br><br>
            <b>1.9. Способы информирования об Акции:</b><br>
            Информация об Акции, об Организаторе Акции, правилах проведения Акции, порядке
            определения Победителей Акции, количестве призов, сроках и порядке их получения
            размещается на Сайте акции 8da-promo.ru (далее – «Сайт»). Любые изменения условий
            публикуются в формате новой редакции правил на Сайте.<br><br>
            <b>1.10. Участники Акции:</b><br>
            В Акции могут принять участие полностью дееспособные, совершеннолетние граждане
            Российской Федерации, постоянно проживающие на территории Российской Федерации
            (резиденты РФ), совершившие покупку Продуктов в сети магазинов «Магнит у Дома»,
            «Магнит Семейный», «Магнит Экстра», «Магнит Косметик», и/или с использованием
            сервиса доставки «Магнит» в приложении «Магнит: акции и доставка» (6+) в Период
            приема заявок для участия в Акции. Лица, не являющиеся гражданами РФ (в том числе, но
            не ограничиваясь, граждане иностранных государств, лица без гражданства, имеющие
            временное разрешение на проживание и т.п.), не приобретают статуса Участника акции,
            независимо от совершения действий, необходимых для участия в Акции.<br>
            <b>Участниками Акции не могут быть</b> сотрудники и представители Организатора Акции,
            Оператора 1 Акции и Оператора 2 Акции, аффилированных с ними лиц, члены их семей, а
            также сотрудники и представители других юридических лиц и/или индивидуальных
            предпринимателей, причастных к организации и проведению Акции, и члены их семей.<br>
            <b>Идентификатором Участника будет являться номер фискального чека (номер ФД).
                Принимая участие в Акции, Участники полностью соглашаются с настоящими
                Правилами.</b><br><br>
            <b>2. ПРИЗОВОЙ ФОНД АКЦИИ</b><br>
            <b>2.1. Призовой фонд Акции ограничен и включает в себя:</b><br><br>
            <div class="table-wrapper">
                <table>
                <thead>
                    <tr>
                        <th>
                            Наименование подарка/приза
                        </th>
                        <th>
                            Количество
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>Специальный приз за участие в викторине– Ирригатор</b>
                            стоимостью до 4000 рублей 00 копеек (далее – «Специальный
                            приз»)
                        </td>
                        <td>
                            105 (Сто пять) штук
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Главный приз №1 – «Сертификат в стоматологию н а 30 000
                                р у б »</b> (далее – Главный приз №1).<br>
                            Общая стоимость Главного приза №1, включая денежную
                            часть, составляет 4 4 0 0 0 (Сорок четыре тысячи) рублей 00
                            копеек, которая состоит из:<br>
                            - Стоимости сертификата на услуги стоматологии номиналом 30
                            000 (Тридцать тысяч) рублей 00 копеек / Денежный эквивалент
                            в размере 30 000 (Тридцать тысяч) рублей 00 копеек<br>
                            - И денежной части приза в размере 14 000 (Четырнадцать
                            тысяч) рублей 00 копеек, рассчитываемой по формуле Y = (N –
                            4000)/0,65*0,35 (где: Y – сумма денежной части приза, N -
                            стоимость вещевой части приза).<br>
                            Денежная часть приза исчисляется исходя из общей стоимости
                            приза и используется Организатором Акции для уплаты
                            соответствующего налога, согласно требованиям действующего
                            законодательства РФ.<br>
                            Сертификат и денежная часть приза являются единым призом.
                            Выплата денежной части приза отдельно от приза не
                            производится.
                        </td>
                        <td>
                            5 (Пять) шт. за весь Период проведения Акции
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Главный приз №2 – «Сертификат в стоматологию н а 20 000
                                р у б .»</b> (далее – Главный приз №2).<br>
                            Общая стоимость Главного приза №2, включая денежную
                            часть, составляет 2 8 6 1 6 (Двадцать восемь тысяч шестьсот
                            шестнадцать) рублей 00 копеек, которая состоит из:<br>
                            - Стоимости сертификата на услуги стоматологии номиналом
                            20 000 (Двадцать тысяч) рублей 00 копеек / Денежный
                            эквивалент в размере 20 000 (Двадцать тысяч) рублей 00
                            копеек<br>
                            - И денежной части приза в размере 8 616 (Восемь тысяч
                            шестьсот шестнадцать) рублей 00 копеек, рассчитываемой по
                            формуле Y = (N – 4000)/0,65*0,35 (где: Y – сумма денежной
                            части приза, N - стоимость вещевой части приза).<br>
                            Денежная часть приза исчисляется исходя из общей стоимости
                            приза и используется Организатором Акции для уплаты
                            соответствующего налога, согласно требованиям действующего
                            законодательства РФ.<br>
                            Сертификат и денежная часть приза являются единым призом.
                            Выплата денежной части приза отдельно от приза не
                            производится.
                        </td>
                        <td>
                            10 (Десять) шт. за весь Период проведения Акции
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Главный приз №3 – «Сертификат в стоматологию н а 10 000
                                р у б »</b> (далее – Главный приз №3).<br>
                            Общая стоимость Главного приза №3, включая денежную
                            часть, составляет 1 3 2 3 1 (Тринадцать тысяч двести тридцать
                            один) рубль 00 копеек, которая состоит из:<br>
                            - Стоимости сертификата на услуги стоматологии номиналом
                            10 000 (Десять тысяч) рублей 00 копеек/ Денежный эквивалент
                            в размере 10 000 (Десять тысяч) рублей 00 копеек<br>
                            - И денежной части приза в размере 3 231 (Три тысячи двести
                            тридцать один) рубль 00 копеек, рассчитываемой по формуле
                            Y = (N – 4000)/0,65*0,35 (где: Y – сумма денежной части приза,
                            N - стоимость вещевой части приза).<br>
                            Денежная часть приза исчисляется исходя из общей стоимости
                            приза и используется Организатором Акции для уплаты
                            соответствующего налога, согласно требованиям действующего
                            законодательства РФ.<br>
                            Сертификат и денежная часть приза являются единым призом.
                            Выплата денежной части приза отдельно от приза не
                            производится.
                        </td>
                        <td>
                            15 (Пятнадцать) шт. за весь Период проведения Акции

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Главный приз №4 – «Сертификат в стоматологию н а
                                1 00 000 р у б»</b> (далее – Главный приз №4).<br>
                            Общая стоимость Главного приза №4, включая денежную
                            часть, составляет 1 5 1 6 9 3 (Сто пятьдесят одна тысяча
                            шестьсот девяносто три) рубля 00 копеек, которая состоит из:<br>
                            - Стоимости сертификата на услуги стоматологии номиналом
                            100 000 (Сто тысяч) рублей 00 копеек / Денежный эквивалент в
                            размере 100 000 (Сто тысяч) рублей 00 копеек<br>
                            - И денежной части приза в размере 51 693 (Пятьдесят одна
                            3 (Три) шт. за весь
                            Период проведения
                            Акции
                            тысяча шестьсот девяносто три) рубля 00 копеек,
                            рассчитываемой по формуле Y = (N – 4000)/0,65*0,35 (где: Y –
                            сумма денежной части приза, N - стоимость вещевой части
                            приза).<br>
                            Денежная часть приза исчисляется исходя из общей стоимости
                            приза и используется Организатором Акции для уплаты
                            соответствующего налога, согласно требованиям действующего
                            законодательства РФ.<br>
                            Сертификат и денежная часть приза являются единым призом.
                            Выплата денежной части приза отдельно от приза не
                            производится.<br>
                        </td>
                        <td>
                            3 (Три) шт. за весь Период проведения Акции
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <br>
            <b>2.2.</b> Участник за весь Период проведения Акции может получить не более 2 (двух) призов:
            один Специальный приз, один Главный приз.<br>
            <b>2.3.</b> Замена Специальных призов другими призами или денежной компенсацией не
            производится.<br>
            Замена Главных призов на денежную компенсацию возможна в случае, если Оператор 2 в
            силу ограниченности сроков вручения призов не сможет вручить победителю сертификат
            в стоматологию, указанный в п.2.1.<br>
            <b>2.4.</b> Призовой фонд Акции формируется отдельно и используется исключительно для
            предоставления призов участникам Акции.<br>
            <b>2.5.</b> Внимание! Организатор настоящим информирует Участников об обязанностях уплаты
            налога на доходы физических лиц со стоимости приза, превышающей 4000 рублей по
            ставке 35% на основании статьи 217 и статьи 224 Налогового Кодекса РФ. В соответствии с
            требованиями действующего законодательства Российской Федерации Организатор
            Акции предоставляет в налоговые органы, по месту своей регистрации, сведения о доходах
            физических лиц по форме «Справка о доходах», выплаченных Участникам в связи с
            получением призов Акции. При выдаче приза Организатор Акции, исполняя обязанности
            налогового агента, исчисляет налог на доходы физических лиц и удерживает его из
            денежной части приза в соответствии с действующим налоговым законодательством
            Российской Федерации для перечисления его в бюджет соответствующего уровня.<br>
            Одновременно Организатор информирует участников о том, что в случае получения в
            налоговом периоде иных призов в результате выигрыша в иных различных стимулирующих
            мероприятиях с совокупной стоимостью более, чем 4 000 рублей, такой участник
            самостоятельно оплачивает НДФЛ со стоимости таких призов в размере 35% во исполнение
            ст. 226 Налогового Кодекса Российской Федерации.<br><br>
            <b>3. ПОРЯДОК УЧАСТИЯ В АКЦИИ</b><br><br>
            3.1. Для того, чтобы принять участие в Акции и участвовать в розыгрыше <b>Специальных
                призов</b>, необходимо в Период приема заявок для участия в Акции выполнить следующие
            действия (порядок заключения договора на участие в Акции):
            3.1.1. Самостоятельно совершить покупку Продуктов под товарным знаком
            Sensodyne® (список Продуктов указан в Приложении №1 к настоящим Правилам
            Акции) в одном из магазинов торговой сети «Магнит у Дома», «Магнит Семейный»,
            «Магнит Экстра», «Магнит Косметик» и/или с использованием сервиса доставки
            «Магнит» в приложении «Магнит: акции и доставка» (6+) - <b>не менее 1 (одной) пачки
                в одном чеке</b>.<br>
            Участник должен самостоятельно приобретать Продукты. Покупкой/приобретением
            Продуктов в целях настоящих Правил является возмездное приобретение Продуктов в
            организациях торговли магазинов торговой сети «Магнит у Дома», «Магнит Семейный»,
            «Магнит Экстра», «Магнит Косметик» и/или с использованием сервиса доставки «Магнит»
            в приложении «Магнит: акции и доставка» (6+) на территории субъектов РФ.<br>
            3.1.2. Зарегистрироваться на Сайте Акции <b>8da-promo.ru</b>, указав в обязательном
            порядке номер мобильного телефона и адрес электронной почты.<br>
            3.1.3. Зарегистрировать чек с совершенной покупкой Продуктов согласно п.1.6.
            путем загрузки фото/скана кассового чека в хорошем читаемом качестве с
            QR-кодом (или загрузкой электронного чека) в соответствующем разделе на
            Сайте.<br>
            3.1.4. Дождаться информации на Сайте, что чек принят.<br>
            3.1.5. Перейти в раздел «Викторина» на Сайте.<br>
            3.1.6. Ответить на вопросы викторины о здоровой улыбке на Сайте.<br>
            3.1.7. При наличии правильных ответов на все вопросы викторины (100%
            правильных ответов) и признанного принятым хотя бы 1 (одного) чека
            участник Акции участвует в розыгрыше <b>Специальных призов</b>.<br><br>
            3.2. Для того, чтобы принять участие в Акции и участвовать в розыгрыше <b>Главных призов</b>,
            необходимо в Период приема заявок для участия в Акции выполнить следующие действия
            (порядок заключения договора на участие в Акции):<br>
            3.2.1. Совершить покупку Продуктов под товарным знаком Sensodyne® (список
            Продуктов указан в Приложении №1 к настоящим Правилам Акции) в одном из
            магазинов торговой сети «Магнит у Дома», «Магнит Семейный», «Магнит Экстра»,
            «Магнит Косметик» и/или с использованием сервиса доставки «Магнит» в
            приложении «Магнит: акции и доставка» (6+) - <b>не менее 1 (одной) пачки</b> в одном
            чеке.<br>
            Участник должен самостоятельно приобретать Продукты. Покупкой/приобретением
            Продуктов в целях настоящих Правил является возмездное приобретение Продуктов в
            организациях торговли магазинов торговой сети «Магнит у Дома», «Магнит Семейный»,
            «Магнит Экстра», «Магнит Косметик» и/или с использованием сервиса доставки «Магнит»
            в приложении «Магнит: акции и доставка» (6+) на территории субъектов РФ.<br>
            3.2.2. Зарегистрироваться на Сайте Акции <b>8da-promo.ru</b>, указав в обязательном
            порядке номер мобильного телефона и адрес электронной почты.<br>
            3.2.3. Зарегистрировать чек с совершенной покупкой Продуктов согласно п.1.6.
            путем загрузки фото/скана кассового чека в хорошем читаемом качестве с
            QR-кодом (или загрузкой электронного чека) в соответствующем разделе на
            Сайте.<br>
            3.2.4. Дождаться информации на Сайте, что чек принят.<br>
            3.2.5. Ждать результата розыгрыша <b>Главных призов в соответствии со Сроками
                проведения Акции согласно п. 1.8 настоящих Правил</b>.<br>
            3.3. Покупка 1 (Одного) Продукта под товарным знаком Sensodyne® (список Продуктов
            указан в Приложении №1 к настоящим Правилам Акции) является 1 (Одной) заявкой на
            участие в Акции. Если Участник совершил единовременную покупку 1 (Одного) Продукта
            под товарным знаком Sensodyne®, фигурирующую в кассовом чеке, Участник получает 1
            (один) шанс в розыгрыше Главных призов. Если Участник совершил единовременную покупку 2 (Двух) Продуктов под
            товарным знаком Sensodyne®, фигурирующую в кассовом
            чеке, Участник получает 2 (Два) шанса в розыгрыше Главных призов и т.д.<br>
            3.4. Совершение лицом, соответствующим требованиям, указанным в п. 3.1. – 3.2.
            настоящих Правил признается Заявкой на участие в Акции (далее – Заявка). По итогам
            совершения таких действий договор между ним и Организатором Акции на участие в
            настоящей Акции считается заключённым, а такое лицо признается Участником и
            претендентом на получение призов, указанных в разделе 2.1. настоящих Правил. Факт
            направления Участником Заявки подразумевает, что он ознакомлен и полностью согласен
            с настоящими Правилами.<br>
            3.5. Оператор 1 и Оператор 2 в одностороннем порядке и без объяснения причин имеют
            право в любой момент исключить из числа Участников Акции лиц:<br>
            • предоставивших о себе искажённую информацию или в отношении которых
            имеется подозрение о совершении мошеннических действий, целью которых является
            необоснованное получение призов призового фонда;<br>
            • нарушивших иные положения настоящих Правил, включая, но не ограничиваясь,
            условия, предусмотренные в настоящем разделе Правил;<br>
            • не соответствующих требованиям, предусмотренным п. 1.11. настоящих Правил.<br>
            3.6. При регистрации чека Продуктов согласно п. 3.3 настоящих Правил участнику
            начисляются «шансы» из расчета 1 Продукт в чеке = 1 шанс. Чем больше покупок Продуктов
            совершает Участник, тем больше у него «шансов», то есть Заявок на участие в розыгрыше.<br>

            <b>4. ПРАВА ИОБЯЗАТЕЛЬСТВА УЧАСТНИКОВ АКЦИИ</b><br>
            <b>4.1. Участник вправе:</b><br>
            • получать информацию о сроках и условиях проведения Акции;<br>
            • получить сведения об Организаторе и операторах Акции;<br>
            • требовать выдачи призов Акции, в случаях, предусмотренных настоящими
            Правилами.<br>
            <b>4.2. Участник обязуется:</b><br>
            • внимательно ознакомиться с настоящими Правилами Акции до участия в Акции;<br>
            • предоставлять Оператору 1 и Оператору 2 Акции правдивую, актуальную и
            достоверную информацию о себе в соответствии с Правилами Акции.<br>
            • соблюдать настоящие Правила, в т.ч. выполнять все действия, связанные с
            участием в Акции, в установленные настоящими Правилами сроки;<br>
            • нести самостоятельно все расходы, связанные с участием в Акции, включая, но,
            не ограничиваясь, расходы за интернет, телефон и прочие;<br>
            • нести иные обязательства, предусмотренные настоящими Правилами и
            действующим законодательством РФ.<br>
            • не участвовать в Акции, в случае непринятия или несогласия с настоящими
            Правилами в полном объёме;<br>
            • самостоятельно ознакомиться с итогами определения обладателей призов
            Акции на Сайте Акции 8da-promo.ru.<br>
            <b>4.3. Организатор Акции вправе:</b><br>
            • в течение Периода проведения Акции вносить изменения в настоящие
            Правила. При этом информация о любых изменениях настоящих Правил
            размещается на Сайте Акции без дополнительного индивидуального уведомления
            участников;<br>
            • не вступать в письменные переговоры или любые другие контакты с
            Участниками Акции, за исключением случаев, предусмотренных настоящими
            Правилами;<br>
            • в случае невостребования или отказа Победителей Акции от получения призов по
            любым причинам уменьшить общее количество обладателей призов Акции. При
            этом указанные в настоящем пункте призы после окончания Акции не выдаются и
            используются Организатором Акции по своему усмотрению.<br>
            • отказать Участнику в выдаче приза в случае установления факта несоблюдения
            Участником настоящих Правил, в том числе п.6.3. Правил.<br>
            • досрочно закончить Акцию в связи с исчерпанием призового фонда.<br>
            • в одностороннем порядке и без объяснения причин в любой момент исключить из
            числа Участников или Победителей Акции лиц:<br>
            - в отношении которых имеется подозрение о совершении мошеннических
            действий, целью которых является необоснованное получение Призов;<br>
            - фальсифицировавших какие-либо материалы или нарушивших иные
            положения настоящих Правил;<br>
            - не соответствующих требованиям настоящих Правил.<br>
            • запросить при необходимости документ, подтверждающий личность (паспорт) в
            целях проверки на соответствие требованиям к участникам согласно настоящим
            Правилам.<br>
            <b>4.4. Организатор Акции обязуется:</b><br>
            • соблюдать настоящие Правила, в т.ч. выполнять все действия, связанные с
            проведением Акции, в установленные настоящими Правилами сроки;<br>
            • обеспечить проведение Акции в соответствии с настоящими Правилами;<br>
            • обеспечить информирование Участников Акции о Правилах ее проведения,
            а также о результатах ее проведения в порядке, предусмотренном настоящими
            Правилами.<br>
            <b>5. ПОРЯДОКОПРЕДЕЛЕНИЯ ПОБЕДИТЕЛЕЙ</b><br>

            5.1. Порядок определения обладателей <b>Специальных призов и Главных призов</b>.
            Обладатели <b>Специальных призов и Главных призов</b> определяются по следующей
            формуле:<br>
            <b>N=X/(Q+1), где:</b><br>
            <b>N</b> — порядковый номер выигрышной заявки претендента на получение приза / коэффициент
            для <br>
            определения порядковых номеров выигрышных заявок претендентов на получение призов. <br>
            <b>Х</b> – общее количество заявок, зарегистрированных за период приёма заявок в розыгрыш.<br>
            <b>Q</b> – количество призов, разыгрываемых в период розыгрыша.<br>
            В случае получения дробного значения числа N при расчете по формуле округление
            производится до целого числа в меньшую сторону.<br>
            В случае, если в Розыгрыше предусмотрено более одного Победителя, вторым / третьим и
            т.д. Победителем становится, каждый N-й Участник.<br>
            Итого по указанной формуле определяется количество Победителей, равное кол-ву
            разыгрываемых в каждый расчетный период Призов.<br>
            5.2. Список Победителей - обладателей Специальных призов и Главных призов размещается
            на Сайте Акции <b> 8da-promo.ru</b> в соответствующем разделе, в период до 23 декабря 2024 года
            включительно в следующем формате:<br>
            Наименование приза, последние 4 цифры номера телефона.<br>
            5.3. При проведении каждого розыгрыша нумерация призов начинается с первого номера.
            Процедура по определению Победителей одинакова для всех призов во всех Розыгрышах.
            Для каждого розыгрыша создается отдельный реестр, в который включаются Заявки
            участников, поданные согласно условиям, указанным в п. 3.1. и п.3.2. настоящих Правил
            согласно таблице ниже.<br><br>
            <div class="table-wrapper">
            <table>
                <tr>
                    <td>
                        <b>Дата
                            Розыгрыша</b>
                        / распределения
                        призов
                    </td>
                    <td>
                        <b>Период приема заявок</b>
                        (совершения покупок) для
                        участия в Акции (неделя)
                    </td>
                    <td>
                        <b>Призы</b>
                    </td>
                    <td>
                        <b>Количество</b>
                    </td>
                    <td>
                        <b>Срок
                            передачи
                            призов
                            победителям</b>
                    </td>
                </tr>
                <tr>
                    <td rowspan="5"><b>23 декабря 2024 г</b></td>
                    <td rowspan="5">С 20 ноября 2024 г. по 17 декабря 2024 г.</td>
                    <td><b>С 20 ноября 2024 г. по 17 декабря 2024 г.</b></td>
                    <td>105 (Сто пять) штук</td>
                    <td rowspan="5">До 31 января 2025 г. включительно</td>
                </tr>
                <tr>
                    <td><b>Главный приз №1 –
                            «Сертификат в
                            стоматологию н а
                            3 0 0 0 0 р у б »</b></td>
                    <td>5 (пять)
                    </td>
                </tr>
                <tr>
                    <td><b>Главный приз №2 –
                            «Сертификат в
                            стоматологию н а
                            2 0 0 0 0 р у б »</b></td>
                    <td>10 (десять)
                    </td>
                </tr>
                <tr>
                    <td><b>Главный приз №3 –
                            «Сертификат в
                            стоматологию н а
                            1 0 0 0 0 р у б »</b></td>
                    <td>15
                        (пятнадцать)
                    </td>
                </tr>
                <tr>
                    <td><b>Главный приз №4 –
                            «Сертификат в
                            стоматологию н а
                            100 0 0 0 р у б »</b></td>
                    <td>3 (три)
                    </td>
                </tr>
            </table>
            </div>
            <br><br>

            <b>6. ПОРЯДОК И СРОКИ ПОЛУЧЕНИЯ ПОБЕДИТЕЛЯМИ ПРИЗОВ</b><br>
            6.1. <b>Специальные и Главные призы</b> Акции будут вручены Оператором 2 в срок до 31
            января 2024 г. включительно путем вручения в офисе Оператора 2 или посредством
            курьерской службы.<br>
            Для получения <b>Специальных призов</b> Победителям, получившим уведомление о
            присуждении призов, необходимо сообщить свое имя, номер телефона, адрес доставки
            приза по адресу электронной почты Оператора 2: <a href="mailto:8-da@itsgroup24.ru">8-da@itsgroup24.ru</a> или по телефону
            «горячей линии» +7 964 719-72-74 в срок <b>до 12 января 2025г.</b> Призы направляются не
            позднее 13 января 2025 года.<br>
            Обладатели <b>Главных призов</b> по требованию Оператора 2 обязаны в срок <b>не позднее 12
            января 2025г.</b>, предоставить Оператору 2 путем отправки письма на адрес электронной
            почты <a href="mailto:8-da@itsgroup24.ru">8-da@itsgroup24.ru</a> следующие сведения:<br>
            • копию паспорта гражданина РФ (первая страница <u>с закрытой фотографией</u> и
            разворот с местом регистрации),<br>
            • копию ИНН,<br>
            • копию СНИЛС,<br>
            • адрес для доставки приза и передачи курьеру оригинала Акта приемапередачи;<br>
            • в случае направления Оператором 2 документов для заполнения: заполнить все
            документы, предоставляемые Оператором 2, необходимые для документального
            оформления получения приза и поставить свою собственноручную подпись.
            Указание неполной/недостоверной информации, необходимой для заполнения
            указанного документа означает отказ от приза;<br>
            Форма Акта приема-передачи приза направляется победителю ответным письмом по
            электронной почте.<br>
            6.2. Призы не могут быть востребованы Участником повторно. Призы не выдаются в
            денежном эквиваленте (за исключением случаев невозможности вручения Главных
            призов в виде сертификатов в силу ограниченности сроков вручения согласно п.2.3) и
            обмену не подлежат.<br>
            6.3. В случае если Организатору Акции/Оператору 1/Оператору 2 станут известны факты,
            которые исключают Участника из числа претендентов на получение приза (случаи
            несоблюдения условий, мошенничества, нечестного участия в Акции, заведомого
            предоставления ложных данных о себе и т.п.), такие Участники исключаются из числа
            Победителей, лишаются права на получение приза, а Организатор Акции вправе
            распорядиться им на свое усмотрение.<br>
            6.4. Организатор Акции вправе запросить в подтверждение выполнения Участником
            условий Акции оригиналы документов или их фотографическое изображение (на
            усмотрение Организатора Акции), а именно: Кассовый чек, подтверждающий покупку
            Продукта.<br>
            6.5. Оператор 2 Акции считается исполнившим обязательства в момент отправки
            Специальных призов, Главных призов №1-4 Победителям. Моментом передачи Главного
            приза и Специального приза считается дата передачи приза в курьерскую службу для
            доставки по адресу, указанному Победителем в порядке, изложенном в п. 6.1. Правил.
            После получения Главных призов Победители обязаны подписать и отправить на
            электронную почту Оператора 2 <a href="mailto:8-da@itsgroup24.ru">8-da@itsgroup24.ru</a> скан полностью корректно
            подписанного Акта приема-передачи приза. На момент встречи с курьером для получения
            приза и передачи оригинала Акта приема-передачи приза победитель обязан показать
            паспорт, подтверждающий личность, а также передать оригинал Акта приема-передачи
            приза. В случае если данные паспорта не совпадают с паспортными данными, которые
            были указаны в порядке п. 6.3, курьер вправе отказать во вручении призов.<br>
            6.6. Оператор 2 не несет ответственности в случае отправки приза по неправильному
            адресу или не тому адресату вследствие предоставления Участником Акции неверных
            данных.<br><br>
            <b>7. ПОЛОЖЕНИЯ ПО ПЕРСОНАЛЬНЫМ ДАННЫМ</b><br>
            7.1. Регистрация в качестве Участника Акции, а также предоставление лицом своих
            персональных данных Организатору Акции, Оператору 1 и Оператору 2 в иной форме
            означает согласие Участника на сбор Организатором Акции, Оператором 1 и Оператором 2
            его персональных данных в объеме, предусмотренном настоящими Правилами, а также на
            дальнейшую обработку этих персональных данных Организатором Акции, Оператором 1 и
            Оператором 2 (с использованием средств автоматизации или без использования таких
            средств), предоставленных им в рамках участия в настоящей Акции, в т.ч. их запись,
            систематизацию, накопление, хранение, уточнение, извлечение, использование,
            обеспечение доступа к данным, а также блокирование, удаление и уничтожение данных в
            целях проведения Акции, предусмотренных настоящими Правилами, в том числе в целях
            определения победителей, оповещения победителей о выигрыше, вручения призов,
            исполнения Оператором 2 Акции обязанностей налогового агента.<br>
            7.2. Участник Акции несет ответственность за достоверность, точность и полноту его
            персональных данных, предоставленных для обработки Оператором 1, Оператором 2 и
            Организатором Акции во исполнение настоящих Правил.<br>
            7.3. Оператор 1, Оператор 2 и Организатор обязуются обеспечить конфиденциальность
            персональных данных и безопасность при их обработке в рамках исполнения своих
            обязательств, предусмотренных настоящими Правилами, в соответствии с требованиями
            Федерального закона РФ от 27.07.2006 г. "О персональных данных" № 152-ФЗ.<br>
            7.4. Трансграничная передача персональных данных в рамках проведения Акции не
            осуществляется, персональные данные обрабатываются и хранятся на территории РФ.<br>
            7.5. Организатор, Оператор 1, Оператор 2 Акции организуют обработку персональных
            данных в срок проведения Акции. В течение 30-ти дней после окончания Акции, все
            персональные данные Участников, находящиеся в распоряжении Организатора, Оператор
            1, Оператор 2 подлежат уничтожению, за исключением документов и сообщений,
            поступивших от Участников, в отношении доходов которых выполнены функции налогового
            агента, которые хранятся в течение 5-ти лет.<br>
            7.6. Участник вправе в любое время отозвать разрешение на обработку персональных
            данных путем направления скана письменного заявления по электронному адресу
            Оператора 2 post@itsgroup24.ru, что влечёт автоматическое прекращение участия в Акции
            лица, отозвавшего свои персональные данные.<br><br>
            <b>8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</b><br>
            8.1. С подробной информацией об Акции Участники могут ознакомиться в период ее
            проведения на Сайте Акции. Своей регистрацией на Сайте Акции Участник подтверждает,
            что является полностью дееспособным совершеннолетним гражданином Российской
            Федерации, что он сообщил собственные и достоверные данные, он ознакомился и
            полностью согласен с настоящими правилами.<br>
            8.2. Организатор Акции не несет ответственность за:<br>
            • невозможность Участников, по независящим от Организатора Акции причинам,
            ознакомиться с информацией об Акции на Сайте Акции;<br>
            • неисполнение (несвоевременное исполнение) Участниками обязанностей,
            предусмотренных настоящими Правилами;<br>
            • неполучение победителями Акции призов в случае их не востребования или
            отказа от приза участниками Акции, а также по иным причинам, не зависящим от
            Организатора Акции.<br>
            8.3. Принимая участие в Акции, Участник понимает и принимает риск, связанный с
            невозможностью получения призов Акции в связи с ограничением их количества.<br>
            8.4. Оператор 2 при выдаче Призов победителям в соответствии с положениями
            Налогового Кодекса РФ выступает в отношении них налоговым агентом и исполняет
            обязанность по правильному и своевременному исчислению, удержанию из доходов в
            виде Призов, вручаемых Победителям, налога на доходы физического лиц (НДФЛ) и
            перечислению его в бюджет. При этом Оператор 2 обязуется надлежащим образом
            проинформировать Победителей Акций о вышеуказанной обязанности Оператора 2.<br>
            8.5. Согласно п. 28 ст. 217 Налогового Кодекса РФ не облагаются НДФЛ доходы, не
            превышающие 4 000 (Четыре тысячи) рублей 00 копеек, полученные за налоговый период
            от организаций, в т.ч., в виде призов, выигрышей или призов в проводимых конкурсах,
            играх и других мероприятиях в целях рекламы товаров (работ, услуг).<br>
            8.6. Оператор 2 настоящим информирует Победителей приз о том, что в соответствии с
            положениями Налогового Кодекса РФ стоимость Призов, полученных от организаций,
            превышающая 4000 (Четыре тысячи) рублей 00 копеек за отчетный период (календарный
            год), в том числе полученных в натуральной форме, включается в налоговую базу по
            НДФЛ. Принимая участие в Акции и соглашаясь с настоящими Правилами, Участники, в том
            числе Победители считаются надлежащим образом проинформированными о
            вышеуказанной норме налогового законодательства РФ.<br>
            8.7. Всеми невостребованными призами, а также призами, от получения которых
            Участники отказались, Организатор Акции распоряжается по своему усмотрению. Призы
            не могут быть востребованы Участниками повторно, денежная компенсация им не
            выдается. Оператор 2 Акции вправе отказать Участнику во вручении приза, если станет
            известно о несоответствии Участника требованиям, предусмотренным в настоящих
            Правил.<br>
            8.8. Принимая участие в Акции, Участник подтверждает ознакомление и свое согласие
            со всеми Правилами проведения и условиями участия в Акции.<br>
            8.9. По всем дополнительным вопросам участник может обращаться к Организатору,
            Оператору 1 или Оператору 2 Акции по адресу электронной почты: <a href="mailto:8-da@itsgroup24.ru">8-da@itsgroup24.ru</a>.<br>
            <br><br><br><br><br>
            <b>Приложение №1</b>
            <b>К Правилам Акции «8 ДА Здоровой улыбке!»</b><br>
            <b>Перечень продукции, участвующей в Акции</b><br>
            Перечень Продуктов, под товарным знаком Sensodyne®, кроме продуктов данного бренда с
            надписями «не для продажи», а также «продукт предназначен для бесплатного
            распространения» на упаковке, принимающих участие в Акции «8 ДА Здоровой улыбке!»:<br><br>
            <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <td>Код позиции</td>
                        <td>Наименование позиции</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000124045</td>
                        <td>Сенсодин з/щ д/чувствительных зубов (ГлаксоСмитКляйн):12</td>
                    </tr>
                    <tr>
                        <td>1119992288</td>
                        <td>Сенсодин з\п Отб. с фтор д/чув.з. 75мл (ГлаксоСмитКляйн) :12</td>
                    </tr>
                    <tr>
                        <td>1000048778</td>
                        <td>СЕНСОДИН з/п Компл защита 75мл(ГлаксоСмитКляйн Хелскер) :12</td>
                    </tr>
                    <tr>
                        <td>1000197051</td>
                        <td>SENSODYNE Зуб/паста Глубокое очищение 75мл(Глаксо):12</td>
                    </tr>
                    <tr>
                        <td>1000234149</td>
                        <td>SENSODYNE З/п Ежедн защита для чувст зубов65мл(de Meclen):12</td>
                    </tr>
                    <tr>
                        <td>1000103212</td>
                        <td>Сенсодин з/п мгн.эффект д/чувст.зуб 75мл(ГлаксоСмитКляйн):12</td>
                    </tr>
                    <tr>
                        <td>1000162793</td>
                        <td>Сенсодин з/п Восст/Защита Отбеливащ 75мл(Глаксо):12</td>
                    </tr>
                    <tr>
                        <td>8000009924</td>
                        <td>SENSODYNE Зубная паста 8 в 1 Свежее дыхание:12</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <button class="modal__button" data-modal-close>
            OK
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>