<div class="modal modal-thanks active" id="modal-thanks">
    <div class="modal__container">
        <div class="modal__title">
            Код отправлен
        </div>
        <div class="modal__text">
            Вам необходимо проверить почту указанную при регистрации, а также папку СПАМ!
        </div>
        <button class="modal__button">
            Войти
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>