<div class="modal modal-questions {% if allModalView == true %}active{% endif %}" id="modal-questions">
    <div class="modal__container">
        <div class="modal__title">
            Вопросы и ответы
        </div>
        <div class="modal__text">
        <b>Что делать, если не удается загрузить чек?</b><br>
        Проверьте размер файла и формат. Если проблема сохраняется, свяжитесь с нашей службой поддержки для помощи.<br><br>
        <b>Сколько времени занимает проверка чека?</b><br>
        Проверка одного чека обычно занимает до 48 часов, после чего Вы получите подтверждение в личном кабинете.<br><br>
        <b>Могу ли я участвовать несколько раз?</b><br>
        Да, каждый новый чек даёт Вам дополнительную возможность выиграть главные призы акции.<br><br>
        <b>Что делать, если я потерял чек?</b><br>
        К сожалению, для участия в акции необходимо загрузить действительный чек, без него участие невозможно.<br><br>
        <b>Какие продукты участвуют в акции?</b><br>
        Полный список продукции бренда Sensodyne, участвующей в акции, Вы можете найти в разделе Правила акции на нашем сайте.<br><br>
        <b>Когда будут определены победители?</b><br>
        Розыгрыш главных и специальных призов акции пройдет 23 декабря 2024 г.<br><br>
        <b>Какие чеки участвуют в акции?</b><br>
        Чеки из магазинов сети «Магнит» и «Магнит Косметик», а также в онлайн-магазине «Магнит», в которых есть хотя бы 1 (один) акционный продукт Sensodyne.<br><br>
        <b>Если я стану победителем, как я смогу получить приз?</b><br>
        После уведомления на e-mail или звонка на указанный при регистрации номер телефона, Вам необходимо будет передать организаторам необходимые копии документов (в случае получения главного приза) и договориться о получении приза.<br><br>
        </div>
        <button class="modal__button" data-modal-close>
            OK
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>