<div class="modal modal-politic {% if allModalView == true %}active{% endif %}" id="modal-politic">
    <div class="modal__container">
        <div class="modal__title">
            Политика в отношении обработки персональных данных
        </div>
        <div class="modal__text">Тут скоро будет политика</div>
        <button class="modal__button" data-modal-close>
            Да
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>