<div class="modal modal-security {% if allModalView == true %}active{% endif %}" id="modal-security">
    <div class="modal__container">
        <div class="modal__title">
            ПОЛИТИКА организации обработки и обеспечения безопасности персональных данных в АО «Хелеон Рус» (POL DP-02-23)
        </div>
        <div class="modal__text">
            <b>1. Общие положения</b><br><br>
            1.1. В целях выполнения норм действующего законодательства Российской Федерации в полном
            объеме АО «Хелеон Рус» считает важнейшими своими задачами соблюдение принципов обработки
            персональных данных, предусмотренных законодательством Российской Федерации,
            конфиденциальности при обработке персональных данных, а также обеспечение безопасности
            процессов их обработки.<br>
            1.2. Настоящая Политика организации обработки и обеспечения безопасности персональных
            данных в АО «Хелеон Рус» характеризуется следующими признаками:<br>
            − разработана в соответствии с действующим законодательством Российской Федерации в
            области обработки и защиты персональных данных в целях реализации требований
            действующего законодательства в области обработки и защиты персональных данных;<br>
            − раскрывает способы и принципы обработки оператором персональных данных, права и
            обязанности оператора при обработке персональных данных, права субъектов
            персональных данных, а также включает перечень мер, применяемых оператором в целях
            обеспечения безопасности персональных данных при их обработке;<br>
            − является общедоступным документом, декларирующим концептуальные основы
            деятельности оператора при обработке и защите персональных данных.<br>
            1.3. Оператор до начала обработки персональных данных осуществил уведомление
            уполномоченного органа по защите прав субъектов персональных данных о своем намерении
            осуществлять обработку персональных данных. Оператор добросовестно и в соответствующий срок
            осуществляет актуализацию сведений, указанных в уведомлении.<br><br>

            <b>2. О документе</b><br><br>
            <b>2.1. Зачем нужна данная политика?</b><br>
            Настоящая Политика организации обработки и обеспечения безопасности персональных данных в
            АО «Хелеон Рус» является локальным нормативным актом, устанавливающим единые стандарты,
            связанные с организацией обработки и обеспечения безопасности персональных данных в
            Акционерном обществе «Хелеон Рус».<br>
            <b>2.2. К чему применима политика?</b><br>
            Настоящая Политика разработана и применяется в соответствии с требованиями Федерального закона
            от 27.07.2006 № 152-ФЗ «О персональных данных», положениями гражданского и трудового
            законодательства.<br>
            Положения настоящей Политики применимы ко всем процессам обработки персональных данных в
            Акционерном обществе «Хелеон Рус».<br>
            <b>2.3. Кто должен соблюдать политику?</b><br>
            Если вы являетесь сотрудником Акционерного общества «Хелеон Рус», использующим и (или)
            имеющим доступ к информации, содержащей персональные данные физических лиц, тогда данная
            Политика относится к вам.<br>
            Лицо, ответственное за организацию обработки персональных данных в Акционерном
            обществе «Хелеон Рус» отвечает за разъяснение и применение положений настоящей Политики.<br>
            Руководители структурных подразделений Компании обязаны убедиться, чтобы все сотрудники
            подведомственных им подразделений, были проинформированы и ознакомлены с положениями
            настоящей Политики.<br><br>

            <b>3. Список сокращений и аббревиатур</b><br><br>
            В настоящем документе используются следующие сокращения и аббревиатуры:<br>
            <div class="table-wrapper">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                Компания,
                                или
                                Оператор
                            </th>
                            <td>
                                Акционерное общество «Хелеон Рус», зарегистрированное по адресу: Российская
                                Федерация, 123112, город Москва, Пресненская наб., д. 10, помещ. III, комната 9,
                                эт 6.
                            </td>
                        </tr>
                        <tr>
                            <th>
                                ПДн
                            </th>
                            <td>
                                Персональные данные.
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Политика
                            </th>
                            <td>
                                Настоящая Политика организации обработки и обеспечения безопасности
                                персональных данных в АО «Хелеон Рус».
                            </td>
                        </tr>
                        <tr>
                            <th>
                                РФ
                            </th>
                            <td>
                                Российская Федерация.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><br><br>


            <b>4. Основные понятия, используемые в Политике</b><br><br>

            <b>Автоматизированная обработка персональных данных</b> – обработка персональных данных с
            помощью средств вычислительной техники.<br>
            <b>Биометрические персональные данные</b> – сведения, которые характеризуют физиологические и
            биологические особенности человека, на основании которых можно установить его личность.<br>
            <b>Блокирование персональных данных</b> – временное прекращение обработки персональных данных
            (за исключением случаев, если обработка необходима для уточнения персональных данных).<br>
            Информационная система персональных данных – совокупность содержащихся в базах данных
            персональных данных и обеспечивающих их обработку информационных технологий и технических
            средств.<br>
            <b>Обезличивание персональных данных</b> – действия, в результате которых становится
            невозможным без использования дополнительной информации определить принадлежность
            персональных данных конкретному субъекту персональных данных.<br>
            <b>Обработка персональных данных</b> – любое действие (операция) или совокупность действий
            (операций) с персональными данными, совершаемых с использованием средств автоматизации или
            без их использования. Обработка персональных данных включает в себя, в том числе: сбор, запись,
            систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
            использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
            удаление, уничтожение.<br>
            <b>Оператор персональных данных (оператор)</b> – государственный орган, муниципальный орган,
            юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие
            и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки
            персональных данных, состав персональных данных, подлежащих обработке, действия (операции),
            совершаемые с персональными данными.<br>
            <b>Ответственный за организацию обработки персональных данных</b> – физическое или
            юридическое лицо, назначаемое Оператором ответственным за организацию обработки персональных
            данных.<br>
            <b>Персональные данные</b> – любая информация, относящаяся к прямо или косвенно определенному
            или определяемому физическому лицу (субъекту персональных данных).<br>
            <b>Персональные данные, разрешенные субъектом персональных данных для
            распространения,</b> – персональные данные, доступ неограниченного круга лиц к которым
            предоставлен субъектом персональных данных путем дачи согласия на обработку персональных
            данных, разрешенных субъектом персональных данных для распространения в порядке,
            предусмотренном настоящим Федеральным законом.<br>
            <b>Предоставление персональных данных</b> – действия, направленные на раскрытие персональных
            данных определенному лицу или определенному кругу лиц.<br>
            <b>Распространение персональных данных</b> – действия, направленные на раскрытие персональных
            данных неопределенному кругу лиц.<br>
            <b>Специальные категории персональных данных</b> – особые категории персональных данных,
            касающиеся расовой, национальной принадлежности, политических взглядов, религиозных или
            философских убеждений, членства в профсоюзах, состояния здоровья и интимной жизни, о
            судимости.<br>
            <b>Субъект персональных данных</b> — физическое лицо, к которому прямо или косвенно относятся
            персональные данные.<br>
            <b>Трансграничная передача персональных данных</b> – передача персональных данных на
            территорию иностранного государства органу власти иностранного государства, иностранному
            физическому лицу или иностранному юридическому лицу.<br>
            <b>Уничтожение персональных данных</b> – действия, в результате которых становится невозможным
            восстановить содержание персональных данных в информационной системе персональных данных и
            (или) в результате которых уничтожаются материальные носители персональных данных. <br><br>

            <b>5. Основные права и обязанности Оператора персональных данных</b><br><br>
            5.1. Оператор имеет право:<br>
            − получать от субъекта персональных данных достоверные информацию и/или документы,
            содержащие персональные данные;<br>
            − требовать от субъекта персональных данных своевременного уточнения предоставленных
            персональных данных;<br>
            − поручить обработку персональных данных другому лицу с согласия субъекта персональных
            данных, если иное не предусмотрено законодательством Российской Федерации, на основании
            заключаемого с этим лицом договора;<br>
            − создавать общедоступные источники персональных данных в целях информационного
            обеспечения с письменного согласия субъекта персональных данных;<br>
            − обрабатывать биометрические персональные данные, которые используются оператором для
            установления личности субъекта персональных данных, при наличии согласия в письменной
            форме субъекта персональных данных, за исключением случаев, предусмотренных
            законодательством Российской Федерации.<br>
            5.2. Оператор обязан:<br>
            − обрабатывать персональные данные в порядке, установленном действующим
            законодательством Российской Федерации;<br>
            − не раскрывать третьим лицам и не распространять персональные данные без согласия
            субъекта персональных данных, если иное не предусмотрено законодательством Российской
            Федерации;<br>
            − при сборе персональных данных предоставить субъекту персональных данных по его просьбе
            информацию об обработке персональных данных;
            разъяснить субъекту персональных данных юридические последствия отказа предоставить его
            персональные данные и (или) дать согласие на их обработку, если в соответствии с
            законодательством Российской Федерации предоставление таких данных и (или) получение
            оператором согласия являются обязательными;<br>
            − предоставить субъекту персональных данных информацию об обработке его персональных
            данных до начала их обработки, если персональные данные были получены оператором не от
            субъекта персональных данных, за исключением случаев, предусмотренных законодательством Российской Федерации;<br>
            − сообщить субъекту персональных данных (его законному представителю) информацию о
            наличии персональных данных, относящихся к соответствующему субъекту персональных
            данных, если такие персональные данные были получены оператором не от субъекта персональных данных;<br>
            − рассматривать обращения субъекта персональных данных (его законного представителя) по
            вопросам обработки персональных данных и давать мотивированные ответы;<br>
            − предоставлять субъекту персональных данных (его законному представителю) возможность
            безвозмездного доступа к его персональным данным, за исключением случаев,
            предусмотренных законодательством Российской Федерации;<br>
            − принимать меры по уточнению, уничтожению персональных данных субъекта персональных
            данных в связи с его (его законного представителя) обращением с законными и
            обоснованными требованиями;<br>
            − организовывать защиту персональных данных в соответствии с требованиями
            законодательства Российской Федерации;<br>
            − при сборе персональных данных, в том числе посредством информационнотелекоммуникационной сети «Интернет», обеспечить запись, систематизацию, накопление,
            хранение, уточнение (обновление, изменение), извлечение персональных данных граждан
            Российской Федерации с использованием баз данных, находящихся на территории Российской
            Федерации;<br>
            − исключить сведения о субъекте персональных данных из общедоступных источников
            персональных данных по требованию субъекта персональных данных либо по решению суда
            или иных уполномоченных государственных органов.<br><br>

            <b>6. Основные права и обязанности субъектов персональных данных</b><br><br>

            6.1. Субъект персональных данных имеет право на:<br>
            − получение сведений об обработке его персональных данных Оператором в объеме,
            определенном законодательством Российской Федерации;<br>
            − доступ к своим персональным данным и получение копии любой записи, содержащей его
            персональные данные, за исключением случаев, предусмотренных законодательством
            Российской Федерации;<br>
            − уточнение своих персональных данных, их блокирование или уничтожение в случае, если они
            являются неполными, устаревшими, неточными, незаконно полученными или не могут быть
            признаны необходимыми для заявленной цели обработки;<br>
            − прекращение обработки его персональных данных, в том числе посредством отзыва согласия
            на обработку персональных данных, за исключением случаев, предусмотренных
            законодательством Российской Федерации;<br>
            − обращение к Оператору для реализации и защиты своих прав и законных интересов;<br>
            − обжалование действий или бездействия Оператора путем обращения в уполномоченный орган
            по защите прав субъектов персональных данных и иные компетентные органы власти;<br>
            − защиту своих прав и законных интересов, в том числе на возмещение убытков и/или
            компенсацию морального вреда в судебном или ином установленном законом порядке, а также
            осуществление иных прав, предусмотренных законодательством Российской Федерации в
            области персональных данных;<br>
            − установление запретов на передачу (кроме предоставления доступа) персональных данных
            оператором неограниченному кругу лиц, а также запретов на обработку или условия
            обработки (кроме получения доступа) персональных данных неограниченным кругом лиц в
            согласии на обработку персональных данных, разрешенных субъектом персональных данных
            для распространения;<br>
            − прекращение передачи (распространение, предоставление, доступ) своих персональных
            данных, ранее разрешенных субъектом персональных данных для распространения, к любому
            лицу, обрабатывающему его персональные данные, в случае несоблюдения положений
            законодательства Российской Федерации или обратиться с таким требованием в суд.<br>
            6.2. Субъект персональных данных обязан:<br>
            − предоставлять Оператору только достоверные данные о себе, а также предоставлять
            документы, содержащие персональные данные в объеме, необходимом для цели обработки;<br>
            − сообщать Оператору об уточнении (обновлении, изменении) своих персональных данных.<br>
            6.3. Право субъекта персональных данных на доступ к его персональным данным может быть
            ограничено в соответствии с федеральными законами, в том числе, если доступ субъекта
            персональных данных к его персональным данным нарушает права и законные интересы третьих
            лиц.<br>
            6.4. В целях повышения эффективности и ускорения рассмотрения обращений и жалоб субъекты
            персональных данных могут заполнить и предоставить Оператору соответствующий бланк —
            Приложение № 3 настоящей Политики.<br>
            6.5. Обработка персональных данных в целях продвижения товаров, работ, услуг на рынке путем
            осуществления прямых контактов с потенциальным потребителем с помощью средств связи
            осуществляется только при условии предварительного согласия субъекта персональных данных.<br>
            6.6. Договор с субъектом персональных данных, на основании которого будет осуществляться
            обработка его персональных данных, не может содержать положения:<br>
            − ограничивающие права и свободы субъекта персональных данных;<br>
            − устанавливающие случаи обработки персональных данных несовершеннолетних, если иное
            не предусмотрено законодательством Российской Федерации;<br>
            − допускающие в качестве условия заключения договора бездействие субъекта персональных
            данных.<br>
            6.7. Запрещается принятие на основании исключительно автоматизированной обработки
            персональных данных решений, порождающих юридические последствия в отношении субъекта
            персональных данных или иным образом затрагивающих его права и законные интересы, за
            исключением случаев, предусмотренных законодательством Российской Федерации или при
            наличии согласия в письменной форме субъекта персональных данных.<br><br>

            <b>7. Правовые основания обработки персональных данных</b><br><br>

            7.1. Обработка персональных данных осуществляется Оператором с соблюдением принципов и
            правил, предусмотренных законодательством Российской Федерации в области обработки и
            защиты персональных данных с согласия субъекта персональных данных на обработку его
            персональных данных, а также в случаях, когда обработка персональных данных необходима:<br>
            − для достижения целей, предусмотренных международным договором Российской Федерации
            или законом, для осуществления и выполнения возложенных законодательством Российской
            Федерации на Компанию функций, полномочий и обязанностей;<br>
            − в связи с участием лица в гражданском, административном, судопроизводстве в арбитражных
            судах;<br>
            − для исполнения судебного акта, акта другого органа или должностного лица, подлежащих
            исполнению в соответствии с законодательством Российской Федерации об исполнительном
            производстве;<br>
            − для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по
            которому является субъект персональных данных, а также для заключения договора по
            инициативе субъекта персональных данных или договора, по которому субъект персональных
            данных будет являться выгодоприобретателем или поручителем;<br>
            − для защиты жизни, здоровья или иных жизненно важных интересов субъекта персональных
            данных, если получение согласия субъекта персональных данных невозможно;<br>
            − для осуществления прав и законных интересов оператора или третьих лиц, либо для
            достижения общественно значимых целей при условии, что при этом не нарушаются права и
            свободы субъекта персональных данных;<br>
            − для осуществления научной, литературной или иной творческой деятельности при условии,
            что при этом не нарушаются права и законные интересы субъекта персональных данных;<br>
            − обработка персональных данных осуществляется в статистических или иных
            исследовательских целях, при условии обязательного обезличивания персональных данных;<br>
            − осуществляется обработка персональных данных, подлежащих опубликованию или
            обязательному раскрытию в соответствии с федеральным законом.<br>
            7.2. Оператор осуществляет обработку ПДн в соответствии с законодательством РФ в области ПДн,
            руководствуясь следующими правовыми основаниями:<br>
            −федеральные законы и принятые на их основе нормативные правовые акты, регулирующие
            отношения, связанные с деятельностью Оператора, включая, но не ограничиваясь:<br>
            Трудовой кодекс РФ;<br>
            Налоговый кодекс РФ;<br>
            Гражданский кодекс РФ;<br>
            Кодекс об административных правонарушениях РФ;<br>
            Арбитражный процессуальный кодекс РФ;<br>
            Гражданский процессуальный кодекс РФ;<br>
            Кодекс административного судопроизводства РФ;<br>
            Таможенный кодекс Евразийского экономического союза;<br>
            Федеральный закон от 25.04.2002 № 40-ФЗ «Об обязательном страховании гражданской
            ответственности владельцев транспортных средств»;<br>
            Федеральный закон от 25.07.2002 № 115-ФЗ «О правовом положении иностранных граждан
            в Российской Федерации»;<br>
            Федеральный закон от 07.07.2003 № 126-ФЗ «О связи»;<br>
            Федеральный закон от 13.03.2006 № 38-ФЗ «О рекламе»;<br>
            Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам,
            имеющим детей»;<br>
            Федеральный закон от 24.11.1995 № 181-ФЗ «О социальной защите инвалидов в
            Российской Федерации»;<br>
            Федеральный закон от 18.07.2006 № 109-ФЗ «О миграционном учете иностранных граждан
            и лиц без гражданства в Российской Федерации»;<br>
            Федеральный закон от 27.07.2006 № 149-ФЗ «Об информации, информационных
            технологиях и о защите информации»;<br>
            Федеральный закон от 29.12.2006 № 255-ФЗ «Об обязательном социальном страховании
            на случай временной нетрудоспособности и в связи с материнством»;<br>
            Федеральный закон от 26.02.1997 № 31-ФЗ «О мобилизационной подготовке и
            мобилизации в Российской Федерации»;<br>
            Федеральный закон от 28.03.1998 № 53-ФЗ «О воинской обязанности и военной службе»;<br>
            Федеральный закон от 24.07.1998 № 125-ФЗ «Об обязательном социальном страховании от
            несчастных случаев на производстве и профессиональных заболеваний»;<br>
            Федеральный закон от 16.07.1999 № 165-ФЗ «Об основах обязательного социального
            страхования»;<br>
            Федеральный закон от 06.04.2011 № 63-ФЗ «Об электронной подписи»;<br>
            Федеральный закон от 17.09.1998 № 157-ФЗ «Об иммунопрофилактике инфекционных
            болезней»;<br>
            Федеральный закон от 30.03.1999 № 52-ФЗ «О санитарно-эпидемиологическом
            благополучии населения»;<br>
            Федеральный закон от 21.11.2011 № 323-ФЗ «Об основах охраны здоровья граждан в
            Российской Федерации»;<br>
            Федеральный закон от 20.07.2012 № 125-ФЗ «О донорстве крови и ее компонентов";<br>
            Федеральный закон от 06.12.2011 № 402-ФЗ «О бухгалтерском учете»;<br>
            Федеральный закон от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации»;<br>
            Федеральный закон от 28.12.2013 № 426-ФЗ «О специальной оценке условий труда»;<br>
            Федеральный закон от 07.08.2001 № 115-ФЗ «О противодействии легализации
            (отмыванию) доходов, полученных преступным путем, и финансированию терроризма»;<br>
            Федеральный закон от 08.08.2001 № 129-ФЗ «О государственной регистрации юридических
            лиц и индивидуальных предпринимателей»;<br>
            Федеральный закон от 15.12.2001 № 167-ФЗ «Об обязательном пенсионном страховании в
            Российской Федерации»;<br>
            Федеральный закон от 10.12.1995 № 196-ФЗ «О безопасности дорожного движения»;<br>
            Федеральный закон от 26.12.1995 № 208-ФЗ «Об акционерных обществах»;<br>
            Федеральный закон от 01.04.1996 № 27-ФЗ «Об индивидуальном (персонифицированном)
            учете в системе обязательного пенсионного страхования»;<br>
            Федеральный закон от 02.10.2007 № 229-ФЗ «Об исполнительном производстве»;<br>
            Федеральный закон от 25.12.2008 № 273-ФЗ «О противодействии коррупции»;<br>
            Федеральный закон от 30.12.2008 № 307-ФЗ «Об аудиторской деятельности»;<br>
            Федеральный закон от 27.11.2010 № 311-ФЗ «О таможенном регулировании в Российской
            Федерации»;<br>
            Федеральный закон от 29.11.2010 № 326-ФЗ «Об обязательном медицинском страховании
            в Российской Федерации»;<br>
            Федеральный закон от 21.12.1994 № 68-ФЗ «О защите населения и территорий от
            чрезвычайных ситуаций природного и техногенного характера»;<br>
            Федеральный закон от 21.12.1994 № 69-ФЗ «О пожарной безопасности»;<br>
            Закон РФ от 19.04.1991 № 1032-1 «О занятости населения в Российской Федерации»;<br>
            Закон РФ от 15.05.1991 № 1244-1 «О социальной защите граждан, подвергшихся
            воздействию радиации вследствие катастрофы на Чернобыльской АЭС»;<br>
            Закон РФ от 07.02.1992 № 2300-1 «О защите прав потребителей»;<br>
            Закон РФ от 11.03.1992 № 2487-1 «О частной детективной и охранной деятельности в
            Российской Федерации»;<br>
            Закон РФ от 27.11.1992 № 4015-1 «Об организации страхового дела в Российской
            Федерации»;<br>
            Закон РФ от 19.02.1993 № 4520-1 «О государственных гарантиях и компенсациях для лиц,
            работающих и проживающих в районах Крайнего Севера и приравненных к ним
            местностях»;<br>
            Федеральный закон от 12.01.1995 № 5-ФЗ «О ветеранах»;<br>

            − уставные (учредительные) документы Оператора;<br>
            −договоры, заключаемые между Компанией и субъектами персональных данных, а также
            выгодоприобретателями или поручителями по которым являются субъекты персональных
            данных;<br>
            − доверенности, выдаваемые Оператором субъектам персональных данных;<br>
            − согласия субъектов персональных данных на обработку персональных данных.<br>
            7.3. Во исполнение Политики Оператором утверждено «Положение об организации обработки и
            обеспечении безопасности персональных данных в АО «Хелеон Рус», а также приняты иные
            локальные акты Оператора в сфере обработки и защиты персональных данных.<br><br>

            <b>8. Принципы обработки персональных данных Оператором</b><br><br>

            8.1. Оператор в своей деятельности обеспечивает соблюдение принципов обработки
            персональных данных, предусмотренных законодательством Российской Федерации.<br>
            8.2. Обработка персональных данных в Компании осуществляется на законной и справедливой
            основе, и ограничивается достижением конкретных, заранее определенных и законных целей.<br>
            8.3. Обработке подлежат только персональные данные, которые отвечают целям их обработки.<br>
            8.4. При обработке персональных данных в Компании не допускается объединение баз данных,
            содержащих персональные данные, обработка которых осуществляется в целях, не совместимых
            между собой.<br>
            8.5. Оператор обеспечивает соответствие содержания и объема обрабатываемых персональных
            данных заявленным целям обработки и, в случае необходимости, принимает меры по устранению
            их избыточности по отношению к заявленным целям обработки.<br>
            8.6. При обработке персональных данных должны быть обеспечены точность персональных
            данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям
            обработки персональных данных. Оператор принимает необходимые меры либо обеспечивает их
            принятие по удалению или уточнению неполных или неточных данных.<br>
            8.7. Хранение персональных данных осуществляется в форме, позволяющей определить субъекта
            персональных данных, в течение срока не дольше, чем этого требуют цели обработки
            персональных данных, кроме случаев, когда срок хранения персональных данных установлен
            федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по
            которому является субъект персональных данных.<br>
            8.8. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию по
            достижении целей обработки или в случае утраты необходимости в достижении этих целей, если
            иное не предусмотрено законодательством Российской Федерации. <br><br>

            <b>9. Цели сбора персональных данных:</b><br><br>

            9.1. Обработка персональных данных в Компании ограничивается достижением конкретных,
            заранее определенных и законных целей.<br>
            9.2. Компания обрабатывает персональные данные общей категории в следующих целях:<br>
            1. заключение любых договоров, по которым субъект ПДн является стороной или
            выгодоприобретателем, и дальнейшее исполнение обязательств по заключенным
            договорам;<br>
            2. поиск и определение потенциально заинтересованных в сотрудничестве лиц, в том числе
            посредством запроса информации о субъекте ПДн для принятия решения о сотрудничестве,
            ведение переговоров;<br>
            3. привлечение и рассмотрение субъекта ПДн, в том числе посредством запросов
            дополнительной информации;<br>
            4. принятие мер должной осмотрительности и проверка благонадежности субъектов ПДн,
            посредством проверки полноты и достоверности предоставляемой субъектами ПДн
            информации до начала сотрудничества;<br>
            5. формирование и ведение баз данных, содержащих ПДн физических лиц,
            взаимодействующих с Оператором;<br>
            6. включение в базу данных для возможного сотрудничества с Оператором в будущем;<br>
            7. ведение кадровой работы (в том числе планирование должностной преемственности) и
            организация учета сотрудников (работников) Оператора;<br>
            8. регулирование трудовых и иных, непосредственно связанных с ними отношений, включая
            содействие в трудоустройстве, в обучении и продвижении по службе, обеспечение личной
            безопасности сотрудников (работников), контроля количества и качества выполняемой
            работы;<br>
            9. пользование льготами, компенсациями и бонусами, предоставляемыми Оператором, в том
            числе предусмотренные законодательством РФ и локальными нормативными актами
            Оператора;<br>
            10. организация деловых поездок (в том числе оказание помощи в оформлении виз,
            приглашений и проездных билетов, бронировании гостиниц) или возмещение понесенных
            расходов на осуществление таких поездок;<br>
            11. оказание помощи в предоставлении транспортных услуг (в том числе предоставление
            служебных транспортных средств);<br>
            12. оформление добровольного страхования (добровольное медицинское страхование,
            страхование жизни и здоровья и т. п.);<br>
            13. облегчение и повышение эффективности коммуникаций, в том числе посредством
            осуществления представительства, оформления доверенностей и оказания помощи в
            оформлении доверенностей.<br>
            14. обеспечение законных интересов Оператора, включая поддержание внутреннего порядка,
            защиту имущества и собственности;<br>
            15. соблюдение и исполнение обязательных требований законодательства Российской
            Федерации;<br>
            16. предоставление электронной подписи;<br>
            17. осуществление хозяйственной деятельности, включая отправку и получение
            корреспонденции и иных почтовых отправлений, перевод документов, изготовление
            визитных карточек и другой полиграфической продукции, а также предоставление доступа
            к ИТ-ресурсам и прикладному программному обеспечению Оператора, оказание
            технической поддержки в их использовании, мониторинг и контроль использования ИТресурсов Оператора и обеспечение защиты информации;<br>
            18. коммуникация и (или) получение/предоставление необходимой информации, в том числе
            приём и обработка запросов и обращений субъектов ПДн, и контроль качества
            информационного взаимодействия;<br>
            19. информирование, включая осуществление информационной рассылки;<br>
            20. организация и проведение Оператором мероприятий по повышению узнаваемости и
            потребительской лояльности, в том числе акций и программ лояльности, маркетинговых
            исследований, с участием субъектов ПДн;<br>
            21. проведение опросов, интервью, вебинаров и иных мероприятий с участием субъектов ПДн;<br>
            22. предоставление субъектам ПДн, в том числе посредством информационной рассылки,
            информации о продуктах Оператора, включая информацию рекламного характера;<br>
            23. исследование степени удовлетворенности субъекта ПДн;<br>
            24. сбор информации о потребителях продукции Оператора, в частности для проведения
            мероприятий по повышению узнаваемости и потребительской лояльности;<br>
            25. профилактика и препятствование распространению инфекционных заболеваний;<br>
            26. организация и проведение научных исследований с участием субъектов ПДн;<br>
            27. осуществление раскрытия информации и обеспечение соблюдения требований
            законодательства при принятии управленческих решений;<br>
            28. размещение ПДн субъектов на общедоступных ресурсах, включая официальные страницы
            в социальных сетях и интернет-сайты Оператора и компаний, входящих в одну группу лиц
            с Оператором, в т.ч. посредством публикации в печатных и (или) интернет-изданиях, для
            информационного обеспечения или в качестве иллюстраций для продвижения бренда
            Оператора и компаний, входящих в одну группу лиц с Оператором, и повышение
            лояльности к бренду Оператора, а также в случаях, предусмотренных законом и
            локальными нормативными актами Оператора;<br>
            29. аналитика действий пользователей на интернет-сайте/ в мобильном приложении
            Оператора (в том числе определение локации пользователя) и функционирования
            интернет-сайта/ мобильного приложения Оператора, а также регистрация на интернетсайте Оператора/ в мобильном приложении Оператора;<br>
            30. осуществление иных функций, полномочий и обязанностей, возложенных на Оператора
            законодательством РФ и локальными нормативными актами Оператора, включая
            управление деятельностью и контроль её нормативного соответствия, исполнение и
            соблюдение предусмотренных применимым законодательством прав, обязанностей и
            запретов, в том числе участие в судебных процессах, исполнение судебных актов,
            независимая проверка бухгалтерской (финансовой) отчетности, осуществление
            делопроизводства;<br>
            31. обеспечение и организация внутриобъектового и пропускного режимов на территории
            Оператора;<br>
            32. получение (регистрация) и хранение ПДн и их носителей в соответствии с
            законодательством Российской Федерации и локальными нормативными актами Оператора
            для осуществления деятельности. Предусмотренной Уставом Общества;<br>

            9.3. Обработка персональных данных специальной категории в Компании может осуществляться в
            следующих целях:<br>
            1. принятие мер должной осмотрительности и проверка благонадежности субъектов ПДн,
            посредством проверки полноты и достоверности предоставляемой субъектами ПДн
            информации до начала сотрудничества; - в случаях прямо предусмотренных
            законодательством Российской Федерации;<br>
            2. соблюдение и исполнение обязательных требований законодательства Российской
            Федерации;<br>
            3. пользование льготами, компенсациями и бонусами, предоставляемыми Оператором, в том
            числе предусмотренные законодательством РФ и локальными нормативными актами
            Оператора;<br>
            4. коммуникация и (или) получение/предоставление необходимой информации, в том числе
            приём и обработка запросов и обращений субъектов ПДн;<br>
            5. профилактика и препятствование распространению инфекционных заболеваний;<br>
            6. размещение ПДн субъектов на общедоступных ресурсах, включая официальные страницы
            в социальных сетях и интернет-сайты Оператора и компаний, входящих в одну группу лиц
            с Оператором, в т.ч. посредством публикации в печатных и (или) интернет-изданиях, для
            информационного обеспечения или в качестве иллюстраций для продвижения бренда
            Оператора и компаний, входящих в одну группу лиц с Оператором, и повышение
            лояльности к бренду Оператора, а также в случаях, предусмотренных законом и
            локальными нормативными актами Оператора;<br>
            7. получение (регистрация) и хранение ПДн и их носителей в соответствии с
            законодательством Российской Федерации и локальными нормативными актами Оператора
            для осуществления деятельности, предусмотренной Уставом Общества.<br><br>

            <b>10. Категории субъектов персональных данных и категории обрабатываемых персональных данных</b><br><br>

            10.1. Оператор осуществляет сбор и дальнейшую обработку персональных данных
            следующих категорий субъектов персональных данных:<br>
            <b>Соискатели</b> — претенденты на вакансию в Компанию.<br>
            <b>Сотрудники</b> — лица, работающие в Компании.<br>
            <b>Уволенные сотрудники</b> — лица, работавшие в Компании.<br>
            <b>Родственники сотрудников</b> — лица, состоящие в родстве или свойстве́ с сотрудниками
            Компании.<br>
            <b>Физические лица</b> — представители юридических лиц, индивидуальные предприниматели,
            самозанятые — физические лица, которые являются сотрудниками юридических лиц или
            индивидуальных предпринимателей, индивидуальными предпринимателями, а также
            самозанятыми, которые состояли, состоят или будут состоять с Компанией в договорных
            отношениях.<br>
            <b>Специалисты здравоохранения</b> — физические лица, которые взаимодействуют с Компанией в
            процессе профессиональной деятельности или состоят в договорных отношениях с Компанией.<br>
            <b>Потребители продукции и их законные представители</b> — физические лица и их
            представители, которые являются покупателями или конечными пользователями продукции
            Группы компаний Хелеон (Haleon Group of companies).<br>

            <b>Заявители о нежелательных явлениях</b> — физические лица и их представители, которые
            сообщают о неблагоприятном симптоме, жалобе или заболевании, возникшем после применения
            продукции Компании.<br>
            <b>Пользователи/посетители интернет-сайта</b> — физические лица, посещающие и (или)
            использующие интернет-сайты Компании.<br>
            <b>Заинтересованные лица</b> — физические лица, не относящиеся к другой категории субъектов
            ПДн, но с которыми оператор ПДн может взаимодействовать, если такие лица являются:<br>
            • отправителями обращений Оператору ПДн;<br>
            • являются участниками судебных процессов и исполнительных производств, в которые
            вовлечен Оператор ПДн;<br>
            • являются участниками или очевидцами дорожно-транспортного происшествия, в которое
            было вовлечено принадлежащее Оператору ПДн транспортное средство.<br>
            10.2. Оператор обрабатывает персональные данные субъектов персональных данных в
            соответствии с целями, указанными в Приложении № 1 к настоящей Политике «Категории
            субъектов персональных данных, цели обработки и объем обрабатываемых персональных
            данных».<br>
            10.3. Подробный перечень обрабатываемых персональных данных субъектов персональных
            данных в Компании указан в Приложении № 2 к настоящей Политике.<br><br>

            <b>11. Порядок и условия обработки персональных данных</b><br><br>

            11.1. Обработка персональных данных осуществляется Оператором при условии получения
            согласия субъекта персональных данных, за исключением установленных законодательством РФ
            случаев, когда обработка персональных данных может осуществляться без такого согласия.<br>
            11.2. Субъект персональных данных принимает решение о предоставлении своих
            персональных данных и дает согласие свободно, своей волей и в своем интересе.<br>
            11.3. Согласие дается в любой позволяющей подтвердить факт его получения форме. В
            случаях, предусмотренных законодательством Российской Федерации, согласие оформляется в
            письменной форме.<br>
            11.4. Согласие может быть отозвано путем письменного уведомления, направленного в
            адрес Оператора почтовым отправлением.<br>
            11.5. Субъект персональных данных, давая согласие на обработку своих персональных
            данных, должен быть проинформирован о целях их обработки.<br>
            11.6. Цели обработки должны быть включены в форму согласия субъекта персональных
            данных.<br>
            11.7. Обработка персональных данных Оператором осуществляется следующими
            способами:<br>
            − неавтоматизированная обработка персональных данных;<br>
            − автоматизированная обработка персональных данных с передачей полученной информации
            по информационно-телекоммуникационным сетям или без таковой;<br>
            − смешанная обработка персональных данных.<br>
            11.8. Оператором не принимаются решения, порождающее юридические последствия в
            отношении субъектов персональных данных или иным образом затрагивающее их права и
            законные интересы, на основании исключительно автоматизированной обработки их
            персональных данных.<br>

            11.9. Обработка персональных данных Оператором включает в себя сбор, запись,
            систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
            использование, передачу (распространение, предоставление, доступ), трансграничную передачу,
            блокирование, удаление, уничтожение персональных данных.<br>
            11.10. Оператор вправе передавать персональные данные органам дознания и следствия,
            иным уполномоченным органам по основаниям, предусмотренным действующим
            законодательством Российской Федерации.<br>
            11.11. В случаях необходимости взаимодействия с третьими лицами в рамках достижения
            целей обработки персональных данных Оператор для достижения целей обработки вправе
            передавать персональные данные уполномоченным третьим лицам.<br>
            11.12. Оператор может производить трансграничную передачу персональных данных (на
            территорию иностранного государства иностранному физическому лицу или иностранному
            юридическому лицу) аффилированным третьим лицам, входящим в Группу компаний Хелеон
            (Haleon Group of companies), в том числе расположенным на территории иностранных государств,
            не обеспечивающих адекватный уровень защиты прав субъектов персональных данных, в
            соответствии со ст. 12 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных»,
            перечисленным по адресу: https://www.privacy.haleon.com.<br>
            11.13. Оператором создаются общедоступные источники персональных данных Оператора
            (справочники, адресные книги). Персональные данные, сообщаемые субъектом, включаются в
            такие источники только с письменного согласия субъекта персональных данных или на основании
            требований действующего законодательства Российской Федерации.<br>
            11.14. Оператор обрабатывает персональные данные субъектов персональных данных,
            разрешенные для распространения, на основании отдельно полученного согласия субъекта
            персональных данных на обработку таких персональных данных. Оператор обеспечивает субъекту
            персональных данных возможность определить перечень персональных данных по каждой
            категории персональных данных, указанной в согласии на обработку персональных данных,
            разрешенных субъектом персональных данных для распространения.<br>
            11.15. Оператор установил следующие условия прекращения обработки персональных
            данных:<br>
            − достижение целей обработки персональных данных и предельных сроков хранения
            персональных данных;<br>
            − утрата необходимости в достижении целей обработки персональных данных;<br>
            − предоставление субъектом персональных данных или его законным представителем сведений,
            подтверждающих, что персональные данные являются незаконно полученными или не являются
            необходимыми для заявленной цели обработки;<br>
            − невозможность обеспечения правомерности обработки персональных данных;<br>
            − отзыв субъектом персональных данных согласия на обработку персональных данных, если
            сохранение персональных данных более не требуется для целей обработки персональных
            данных;<br>
            − истечение сроков исковой давности для правоотношений, в рамках которых осуществляется
            либо осуществлялась обработка персональных данных.<br>
            − ликвидация Оператора.<br>
            11.16. При осуществлении хранения персональных данных Оператор использует базы
            персональных данных, находящиеся на территории РФ.<br><br>

            <b>12. Меры по надлежащей организации обработки и обеспечению безопасности персональных данных</b><br><br>

            12.1. Оператор при обработке персональных данных принимает все необходимые правовые,
            организационные и технические меры для их защиты от неправомерного или случайного доступа,
            уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также
            от иных неправомерных действий в отношении них. Обеспечение безопасности персональных
            данных достигается, в частности, следующими способами:<br>
            − назначением ответственного лица за организацию обработки персональных данных;<br>
            − изданием документов, определяющих политику Оператора в отношении обработки
            персональных данных, локальных актов по вопросам обработки персональных данных,
            определяющих для каждой цели обработки персональных данных категории и перечень
            обрабатываемых персональных данных, категории субъектов, персональные данные которых
            обрабатываются, способы, сроки их обработки и хранения, порядок уничтожения персональных
            данных при достижении целей их обработки или при наступлении иных законных оснований, а
            также локальных актов, устанавливающих процедуры, направленные на предотвращение и
            выявление нарушений законодательства РФ в области персональных данных, устранение
            последствий таких нарушений;<br>
            − осуществлением внутреннего контроля и/или аудита соответствия обработки персональных
            данных Федеральному закону от 27.07.2006 № 152-ФЗ «О персональных данных» и принятыми
            в соответствии с ним нормативными правовыми актами, требованиями к защите персональных
            данных, локальными актами Оператора;<br>
            − ознакомлением работников Оператора, непосредственно осуществляющих обработку
            персональных данных, с положениями законодательства Российской Федерации о
            персональных данных, в том числе с требованиями к защите персональных данных, локальными
            актами в отношении обработки персональных данных и (или) обучением указанных работников;<br>
            − определением угроз безопасности персональных данных при их обработке в информационных
            системах персональных данных;<br>
            − применением организационных и технических мер по обеспечению безопасности
            персональных данных при их обработке в информационных системах персональных данных,
            необходимых для выполнения требований к защите персональных данных;<br>
            − оценкой эффективности принимаемых мер по обеспечению безопасности персональных
            данных до ввода в эксплуатацию информационной системы персональных данных;<br>
            − оценка вреда, который может быть причинен субъектам персональных данных в случае
            нарушения законодательства Российской Федерации в области персональных данных,
            соотношение указанного вреда и принимаемых Оператором мер, направленных на обеспечение
            выполнения обязанностей, предусмотренных законодательством Российской Федерации в
            области персональных данных;<br>
            − учетом машинных носителей персональных данных;<br>
            − ограничением состава лиц, имеющих доступ к персональным данным;<br>
            − выявлением фактов несанкционированного доступа к персональным данным и принятием
            соответствующих мер;<br>
            − определением мест хранения материальных носителей персональных данных, а также
            обеспечением учета и сохранности материальных носителей персональных данных;<br>
            − восстановлением персональных данных, модифицированных или уничтоженных вследствие
            несанкционированного доступа к ним;<br>
            − установлением правил доступа к персональным данным, обрабатываемым в информационной
            системе персональных данных, а также обеспечением регистрации и учета всех действий,
            совершаемых с персональными данными в информационной системе персональных данных;<br>
            − организацией пропускного режима на территорию Оператора, охраны помещений с
            техническими средствами обработки персональных данных;<br>
            − контролем над принимаемыми мерами по обеспечению безопасности персональных данных и
            уровнем защищенности информационных систем персональных данных;<br>
            − обеспечение неограниченного доступа к документу, определяющему политику в отношении
            обработки персональных данных, к сведениям о реализуемых требованиях к защите
            персональных данных, в том числе опубликование настоящей Политики на сайте.<br>

            12.2. Оператор в порядке, определенном федеральным органом исполнительной власти,
            уполномоченным в области обеспечения безопасности, обеспечивает взаимодействие с
            государственной системой обнаружения, предупреждения и ликвидации последствий
            компьютерных атак на информационные ресурсы Российской Федерации, включая
            информирование его о компьютерных инцидентах, повлекших неправомерную передачу
            (предоставление, распространение, доступ) персональных данных.<br>
            12.3. Обязанности работников Оператора, осуществляющих обработку и защиту
            персональных данных, а также их ответственность, определяются в «Положении об организации
            обработки и обеспечении безопасности персональных данных в АО «Хелеон Рус».<br><br>

            <b>13. Лицо, ответственное за организацию обработки персональных данных</b><br><br>

            13.1. Права, обязанности и юридическая ответственность лица, ответственного за
            организацию обработки персональных данных, установлены Федеральным законом от 27.07.2006
            № 152-ФЗ «О персональных данных» и «Положением об организации обработки и обеспечении
            безопасности персональных данных в АО «Хелеон Рус».<br>
            13.2. Назначение лица, ответственного за организацию обработки персональных данных, и
            освобождение от указанных обязанностей осуществляется приказом Оператора. При назначении
            лица, ответственного за организацию обработки персональных данных, учитываются полномочия,
            компетенции и личностные качества должностного лица, призванные позволить ему надлежащим
            образом и в полном объеме реализовывать свои права и выполнять обязанности, предусмотренные
            «Положением об организации обработки и обеспечении безопасности персональных данных в АО
            «Хелеон Рус».<br>
            13.3. Лицо, ответственное за организацию обработки персональных данных:<br>
            − организует осуществление внутреннего контроля над соблюдением Оператором и его
            работниками законодательства Российской Федерации о персональных данных, в том числе
            требований к защите персональных данных;<br>
            − доводит до сведения работников Оператора положения законодательства Российской
            Федерации о персональных данных, локальных актов по вопросам обработки персональных
            данных, требований к защите персональных данных или обеспечивает доведение;<br>
            − осуществляет контроль над приемом и обработкой обращений и запросов субъектов
            персональных данных или их представителей.<br>
            13.4. Контактные данные лица, ответственного за организацию обработки персональных
            данных: ООО «Радиум», тел. +7 999 506-64-01, pd-support+haleon@radium-it.ru.<br><br>

            <b>14. Актуализация, исправление, удаление и уничтожение персональных данных, ответы на запросы субъектов на доступ к персональным данным</b><br><br>

            14.1. В случае подтверждения факта неточности персональных данных или
            неправомерности их обработки персональные данные подлежат их актуализации Оператором, или
            их обработка должна быть прекращена соответственно.<br>
            14.2. Факт неточности персональных данных или неправомерности их обработки может быть
            установлен либо субъектом персональных данных, либо компетентными государственными
            органами РФ.<br>
            14.3. По письменному запросу субъекта персональных данных или его представителя
            Оператор обязан сообщить информацию об осуществляемой им обработке персональных данных
            указанного субъекта.<br>
            14.4. Запрос должен содержать:<br>

            − номер основного документа, удостоверяющего личность субъекта персональных данных и его
            представителя;<br>
            − сведения о дате выдачи указанного документа и выдавшем его органе;<br>
            − сведения, подтверждающие участие субъекта персональных данных в отношениях с
            Оператором (номер договора, дата заключения договора, условное словесное обозначение и
            (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки
            персональных данных Оператором;<br>
            − подпись субъекта персональных данных или его представителя.<br>
            14.5. Запрос может быть направлен в форме электронного документа и подписан
            электронной подписью в соответствии с законодательством РФ.<br>
            14.6. Если в запросе субъекта персональных данных не отражены все необходимые
            сведения или субъект не обладает правами доступа к запрашиваемой информации, то ему
            направляется мотивированный отказ.<br>
            14.7. В порядке, предусмотренном п. 14.3, субъект персональных данных вправе требовать
            от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае,
            если персональные данные являются неполными, устаревшими, неточными, незаконно
            полученными или не являются необходимыми для заявленной цели обработки, а также принимать
            предусмотренные законом меры по защите своих прав.<br>
            14.8. При достижении целей обработки персональных данных, а также в случае отзыва
            субъектом персональных данных согласия, персональные данные подлежат уничтожению, если:<br>
            − иное не предусмотрено договором, стороной которого, выгодоприобретателем или
            поручителем по которому является субъект персональных данных;<br>
            − оператор не вправе осуществлять обработку без согласия субъекта персональных данных на
            основаниях, предусмотренных Федеральным законом «О персональных данных» или иными
            федеральными законами;<br>
            − иное не предусмотрено иным соглашением между Оператором и субъектом персональных
            данных.<br><br>

            <b>15. Ответственность</b><br><br>

            15.1. Лица, виновные в нарушении норм, регулирующих обработку и защиту персональных
            данных, несут ответственность, предусмотренную законодательством Российской Федерации,
            локальными актами Оператора и договорами, регламентирующими правоотношения Оператора с
            третьими лицами.<br>
            15.2. Лицо, передавшее Оператору недостоверные сведения о себе, либо сведения о другом
            субъекте персональных данных без согласия последнего, несет ответственность в соответствии с
            законодательством Российской Федерации.<br><br>

            <b>16. Доступ к Политике</b><br><br>

            16.1. Действующая редакция Политики на бумажном носителе хранится по адресу:
            Российская Федерация, Россия, Российская Федерация, 123112, город Москва, Пресненская наб.,
            д. 10, помещ. III, комната 9, эт 6.<br>
            16.2. Электронная версия действующей редакции Политики общедоступна на сайте
            Оператора в сети «Интернет» по адресу https://haleon.ps.radium-it.ru/assets/doc/policy.pdf.<br><br>

            <b>17. Внесение изменений</b><br><br>

            17.1. Политика утверждается и вводится в действие приказом Оператора.<br>
            17.2. Оператор имеет право вносить изменения в Политику и её приложения, указанные в
            разделе 18 настоящей Политики.<br>
            17.3. Политика пересматривается по мере необходимости. Политика заново утверждается,
            если по результатам пересмотра в Политику вносятся изменения.<br>
            17.4. Политика может пересматриваться и заново утверждаться по мере внесения
            изменений:<br>
            − в нормативные правовые акты в сфере персональных данных;<br>
            − в локальные нормативные и индивидуальные акты Оператора, регламентирующие
            организацию обработки и обеспечение безопасности персональных данных.<br>
            17.5. Все отношения, касающиеся обработки персональных данных, не получившие
            отражения в настоящей Политике, регулируются согласно положениям законодательства РФ.<br><br>

            <b>18. Приложения</b><br><br>

            18.1. Приложение № 1. Категории субъектов персональных данных, цели обработки и объем
            обрабатываемых персональных данных.<br>
            18.2. Приложение № 2. Перечень обрабатываемых персональных данных.<br>
            18.3. Приложение № 3. Бланк запроса субъекта (представителя субъекта) персональных
            данных на доступ, уточнение, блокирование или уничтожение персональных данных.<br><br>

            <b>19. Дополнительная информация</b><br><br>

            Дата утверждения Политики: <b>22.01.2024</b><br>
            Дата ввода в действие Политики: <b>22.01.2024</b><br><br>
        </div>
        <button class="modal__button" data-modal-close>
            OK
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>