<div class="modal modal-contact {% if allModalView == true %}active{% endif %}" id="modal-contact">
    <div class="modal__container">
        <div class="modal__close" data-modal-close="">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18.5L18 6.5M6 6.5L18 18.5" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </div>
        <div class="modal__title">
            Связаться с нами
        </div>
        <div class="modal__text">
            Необходимо указывать действующий E-mail к которому вы имеете доступ
        </div>
        <form class="modal__form" data-disabled-button-form>
            <input type="text" class="input" placeholder="Тема сообщения" name="">
            <input type="text" class="input" placeholder="E-mail" name="" required data-disabled-button-input>
            <textarea name="" class="textarea" placeholder="Текст сообщения..." id="" required data-disabled-button-input></textarea>
            <a href="#" class="modal__button disabled" data-submit-button>
                Отправить
            </a>
            <label class="checkbox">
                <input type="checkbox" class="checkbox__input" name="" checked data-disabled-button-checkbox>
                <span class="checkbox__icon"></span>
                <div class="checkbox__text">
                    Настоящим подтверждаю, что я ознакомлен с <a href="#" data-modal-open="#modal-rules">правилами акции</a>
                </div>
            </label>
            <label class="checkbox">
                <input type="checkbox" class="checkbox__input" name="" checked data-disabled-button-checkbox>
                <span class="checkbox__icon"></span>
                <div class="checkbox__text">
                    Настоящим подтверждаю, что я ознакомлен с политикой конфиденциальности и согласен на обработку персональных данных
                    в соответствии с <a href="#" data-modal-open="#modal-politic">указанным здесь текстом</a>
                </div>
            </label>
        </form>
    </div>
    <div class="modal__overlay"></div>
</div>