<div class="modal modal-cong active" id="modal-cong">
    <div class="modal__container">
        <div class="modal__title">
            Поздравляем, Вы ответили правильно на все вопросы!
        </div>
        <div class="modal__text">
            Вы становитесь участником розыгрыша специальных призов акции – ирригаторов!
        </div>
        <button class="modal__button">
            OK
        </button>
    </div>
    <div class="modal__overlay"></div>
</div>