<div class="modal modal-trade {% if allModalView == true %}active{% endif %}" id="modal-trade2">
    <div class="modal__container">
        <div class="modal__title">
            Подтвердите обмен 1500 баллов<br> на карточку Озон номиналом 1 500 ₽
        </div>
        <div class="modal__text modal__text-light">
            В течении 7 дней Вам будет отправлен код карточки<br> на указанный при регистрации адрес электронной почты
        </div>
        <div class="modal__buttons">
            <button class="modal__button" data-window-close>
                Отменить
            </button>
            <button class="modal__button modal__button-white" data-modal-close>
                Обменять
            </button>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>