<div class="modal modal-test active" id="modal-test">
    <div class="modal__container">
        <div class="modal__header">
            Викторина
            <div class="modal__close">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18.5L18 6.5M6 6.5L18 18.5" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div class="modal__body">
            <div class="test">
                <div class="test__stat">
                    <div class="test__pass">
                        <span>30%</span>
                        Пройдено
                    </div>
                    <div class="test__quests">
                        3 из 10 вопросов
                    </div>
                </div>
                <div class="test__bar">
                    <span style="width: 30%"></span>
                </div>
                <div class="test__container">
                    <div class="test__item">
                        <div class="test__num">
                            Вопрос 3
                        </div>
                        <div class="test__quest">
                            Какие основные причины могут привести к повышенной чувствительности зубов?
                        </div>
                        <div class="test__answers">
                            <label class="test__answer">
                                <input type="checkbox">
                                <div class="test__icon"></div>
                                <div class="test__text">
                                    Преждевременная стираемость эмали
                                </div>
                            </label>
                            <label class="test__answer">
                                <input type="checkbox">
                                <div class="test__icon"></div>
                                <div class="test__text">
                                    Агрессивная чистка, которая приводит к истиранию эмали
                                </div>
                            </label>
                            <label class="test__answer">
                                <input type="checkbox">
                                <div class="test__icon"></div>
                                <div class="test__text">
                                    Рецессия (опущение) десны
                                </div>
                            </label>
                            <label class="test__answer">
                                <input type="checkbox">
                                <div class="test__icon"></div>
                                <div class="test__text">
                                    Все вышеуказанные
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <div class="modal__button">
                Подтвердить ответ
            </div>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>