<div class="products" id="products">
    <div class="wrapper">
        <div class="title">
            Продукция участвующая в Акции
        </div>
        <div class="products__container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product1.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Berries
                            </div>
                            <div class="product-item__text">
                                250 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product9.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Classic
                            </div>
                            <div class="product-item__text">
                                1000 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product2.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Berries
                            </div>
                            <div class="product-item__text">
                                500 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product10.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Original
                            </div>
                            <div class="product-item__text">
                                500 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product3.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Cayenne
                            </div>
                            <div class="product-item__text">
                                250 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product11.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Original
                            </div>
                            <div class="product-item__text">
                                700 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product4.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Cayenne
                            </div>
                            <div class="product-item__text">
                                500 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product12.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Silk
                            </div>
                            <div class="product-item__text">
                                500 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product5.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Classic
                            </div>
                            <div class="product-item__text">
                                250 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product13.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Silk
                            </div>
                            <div class="product-item__text">
                                1000 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product6.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Classic
                            </div>
                            <div class="product-item__text">
                                375 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product14.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF 
                            </div>
                            <div class="product-item__text">
                                500 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product7.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Classic
                            </div>
                            <div class="product-item__text">
                                500 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product15.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF
                            </div>
                            <div class="product-item__text">
                                1000 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product8.png" alt="">
                            </div>
                            <div class="product-item__title">
                                MEDOFF Classic
                            </div>
                            <div class="product-item__text">
                                700 мл
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item">
                            <div class="product-item__img">
                                <img src="./src/assets/img/product16.png" alt="">
                            </div>
                            <div class="product-item__title">
                                МЪЕРНАЯ на молоке
                            </div>
                            <div class="product-item__text">
                                500 мл
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="swiper-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="113" height="113" viewBox="0 0 113 113" fill="none">
                    <path d="M74.1562 91.8125L38.8438 56.5L74.1563 21.1875" stroke="#FEFEFE" stroke-width="7.0625" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="swiper-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="113" height="113" viewBox="0 0 113 113" fill="none">
                    <path d="M38.8438 91.8125L74.1562 56.5L38.8437 21.1875" stroke="#FEFEFE" stroke-width="7.0625" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>        
        </div>
    </div>
</div>