<div class="questions" id="quest-block">
    <div class="wrapper">
        <div class="questions__title">
            Вопросы / ответы
        </div>
        <div class="questions__container">
            <div class="questions__item">
                <div class="questions__quest">
                    Что делать, если не удается загрузить чек?
                </div>
                <div class="questions__answ">
                    Проверьте размер файла и формат. Если проблема сохраняется, свяжитесь с нашей службой поддержки для помощи.
                </div>
            </div>
            <div class="questions__item">
                <div class="questions__quest">
                    Сколько времени занимает проверка чека?
                </div>
                <div class="questions__answ">
                    Проверка одного чека обычно занимает до 48 часов, после чего Вы получите подтверждение в личном кабинете.
                </div>
            </div>
            <div class="questions__item">
                <div class="questions__quest">
                    Могу ли я участвовать несколько раз?
                </div>
                <div class="questions__answ">
                    Да, каждый новый чек даёт Вам дополнительную возможность выиграть главные призы акции.
                </div>
            </div>
            <div class="questions__item">
                <div class="questions__quest">
                    Что делать, если я потерял чек?
                </div>
                <div class="questions__answ">
                    К сожалению, для участия в акции необходимо загрузить действительный чек, без него участие невозможно.
                </div>
            </div>
            <div class="questions__item">
                <div class="questions__quest">
                    Какие продукты участвуют в акции?
                </div>
                <div class="questions__answ">
                    Полный список продукции бренда Sensodyne, участвующей в акции, Вы можете найти в разделе Правила акции на нашем сайте.
                </div>
            </div>
            <div class="questions__item">
                <div class="questions__quest">
                    Когда будут определены победители?
                </div>
                <div class="questions__answ">
                    Розыгрыш главных и специальных призов акции пройдет 23 декабря 2024 г.
                </div>
            </div>
            <div class="questions__item">
                <div class="questions__quest">
                    Какие чеки участвуют в акции?
                </div>
                <div class="questions__answ">
                    Чеки из магазинов сети «Магнит» и «Магнит Косметик», а также в онлайн-магазине «Магнит», в которых есть хотя бы 1 (один) акционный продукт Sensodyne.
                </div>
            </div>
            <div class="questions__item">
                <div class="questions__quest">
                    Если я стану победителем, как я смогу получить приз?
                </div>
                <div class="questions__answ">
                    После уведомления на e-mail или звонка на указанный при регистрации номер телефона, Вам необходимо будет передать организаторам необходимые копии документов (в случае получения главного приза) и договориться о получении приза.
                </div>
            </div>
        </div>
    </div>
    <div class="questions__bg">
        <img src="./src/assets/img/quest-bg.jpg" alt="">
    </div>
</div>