<div class="questions" id="questions">
    <div class="wrapper">
        <div class="title">
            Вопросы / ответы
        </div>
        <div class="questions__container">
            <div class="questions__item">
                <div class="questions__title">
                    Что делать, если не удается загрузить чек?
                </div>
                <div class="questions__text">
                    Проверьте размер файла и формат. Если проблема сохраняется, свяжитесь с нашей службой поддержки для помощи.
                </div>
            </div>

            <div class="questions__item">
                <div class="questions__title">
                    Сколько времени занимает проверка чека?
                </div>
                <div class="questions__text">
                    Проверка одного чека обычно занимает до 48 часов, после чего Вы получите подтверждение в личном кабинете.
                </div>
            </div>

            <div class="questions__item">
                <div class="questions__title">
                    Когда я могу обменять баллы на карту OZON?
                </div>
                <div class="questions__text">
                    Минимальная сумма баллов для обмена – 500.
                </div>
            </div>

            <div class="questions__item">
                <div class="questions__title">
                    Что делать, если я потерял чек?
                </div>
                <div class="questions__text">
                    К сожалению, для участия в акции необходимо загрузить действительный чек, без него участие невозможно.
                </div>
            </div>

            <div class="questions__item">
                <div class="questions__title">
                    Как я могу получить свою карту OZON?
                </div>
                <div class="questions__text">
                    После обмена баллов на карту OZON Вы получите сообщение в личном кабинете и карта придет Вам на e-mail.
                </div>
            </div>

            <div class="questions__item">
                <div class="questions__title">
                    Какие продукты участвуют в акции?
                </div>
                <div class="questions__text">
                    Полный список продукции КВК, участвующей в акции, Вы можете найти в разделе Правила акции на нашем сайте.
                </div>
            </div>
        </div>
        <div class="questions__more">
            <span class="questions__more-show">Показать все вопросы / ответы</span>
            <span class="questions__more-hide">Свернуть вопросы / ответы</span>
        </div>
    </div>
</div>