<div class="trade-page">
    <div class="wrapper">
        <a href="./menu" class="trade-page__back">
            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.8647 10.0001L3.4303 10.0001M3.4303 10.0001L8.57579 15.1456M3.4303 10.0001L8.57579 4.85461" stroke="#98999E" stroke-width="1.14344" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Вернуться на главную
        </a>
        <div class="trade-page__title">
            Обменять баллы
        </div>
        <div class="trade-page__text">
            Выберите номинал карточки Озон, на который хотите обменять баллы
        </div>
        
        <div class="trade-cards">
            <div class="trade-card">
                <div class="trade-card__img">
                    <img src="./src/assets/img/ozon-card.svg" alt="">
                </div>
                <div class="trade-card__price">
                    500 ₽
                </div>
            </div>
            <div class="trade-card">
                <div class="trade-card__img">
                    <img src="./src/assets/img/ozon-card.svg" alt="">
                </div>
                <div class="trade-card__price">
                    1 000 ₽
                </div>
            </div>
            <div class="trade-card">
                <div class="trade-card__img">
                    <img src="./src/assets/img/ozon-card.svg" alt="">
                </div>
                <div class="trade-card__price">
                    1 500 ₽
                </div>
            </div>
            <div class="trade-card">
                <div class="trade-card__img">
                    <img src="./src/assets/img/ozon-card.svg" alt="">
                </div>
                <div class="trade-card__price">
                    2 000 ₽
                </div>
            </div>
            <div class="trade-card">
                <div class="trade-card__img">
                    <img src="./src/assets/img/ozon-card.svg" alt="">
                </div>
                <div class="trade-card__price">
                    3 000 ₽
                </div>
            </div>
            <div class="trade-card">
                <div class="trade-card__img">
                    <img src="./src/assets/img/ozon-card.svg" alt="">
                </div>
                <div class="trade-card__price">
                    4 000 ₽
                </div>
            </div>
            <div class="trade-card">
                <div class="trade-card__img">
                    <img src="./src/assets/img/ozon-card.svg" alt="">
                </div>
                <div class="trade-card__price">
                    5 000 ₽
                </div>
            </div>
            <div class="trade-card">
                <div class="trade-card__img">
                    <img src="./src/assets/img/ozon-card.svg" alt="">
                </div>
                <div class="trade-card__price">
                    8 000 ₽
                </div>
            </div>
        </div>
    </div>
</div>