<div class="upload">
    <div class="wrapper">
        <div class="upload__back">
            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.8647 10.0001L3.4303 10.0001M3.4303 10.0001L8.57579 15.1456M3.4303 10.0001L8.57579 4.85461" stroke="#98999E" stroke-width="1.14344" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Вернуться на главную
        </div>
        <div class="upload__title">
            Загруженные чеки
        </div>
        <div class="upload__button" data-modal-open="#modal-upload">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.75 4.75C10.75 4.33579 10.4142 4 10 4C9.58579 4 9.25 4.33579 9.25 4.75V9.25H4.75C4.33579 9.25 4 9.58579 4 10C4 10.4142 4.33579 10.75 4.75 10.75L9.25 10.75V15.25C9.25 15.6642 9.58579 16 10 16C10.4142 16 10.75 15.6642 10.75 15.25V10.75L15.25 10.75C15.6642 10.75 16 10.4142 16 10C16 9.58579 15.6642 9.25 15.25 9.25H10.75V4.75Z" fill="white"/>
            </svg>
            Загрузить новый чек
        </div>
        <div class="upload__items">
            <div class="upload__item">
                <div class="upload__info">
                    <div class="upload__date">21 октября 2024</div>
                    <div class="upload__name">Акционных товаров</div>
                </div>
                <div class="upload__count">
                    2
                </div>
                <div class="upload__status upload-inprocess">
                    В обработке
                </div>
            </div>
            <div class="upload__item">
                <div class="upload__info">
                    <div class="upload__date">21 октября 2024</div>
                    <div class="upload__name">Акционных товаров</div>
                </div>
                <div class="upload__count">
                    2
                </div>
                <div class="upload__status upload-accept">
                    Принят
                </div>
            </div>
            <div class="upload__item">
                <div class="upload__info">
                    <div class="upload__date">21 октября 2024</div>
                    <div class="upload__name">Акционных товаров</div>
                </div>
                <div class="upload__count">
                    2
                </div>
                <div class="upload__status upload-reject">
                    Отклонен
                </div>
            </div>
        </div>
    </div>
</div>