.footer{
    padding: 50px 0;
    background: #0055B8;
    &__links{
        display: flex;
        justify-content: space-between;
        margin-bottom: 34px;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__link{
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        @media screen and (max-width: 991px) {
            color: #EE8966;
        }
    }
    &__container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 34px;
    }
    &__textblock{
        font-size: 16px;
        line-height: 17px;

        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }
    &__block{
        max-width: 345px;
    }
    &__tel{
        color: #fff;
        &-text{
            font-size: 21px;
            line-height: 28px;
            text-align: center;
            &:last-child{
                color: #EE8966;
                @media only screen and (max-width: 991px) {
                    font-size: 16px;
                }
            }
        }
        &-link{
            text-align: center;
            font-size: 42px;
            font-weight: 600;
            text-decoration: none;
            color: #fff;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__button{
        padding: 10px 54px;
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 150%;
        color: #fff;
        border-radius: 100px;
        background: #E1251B;
        margin-top: 12px;
        cursor: pointer;
        font-family: "Inter";
        transition: 0.3s;

        @media screen and (max-width: 991px) {
            margin-top: 20px;
        }

        &:hover{
            background: darken($color: #E1251B, $amount: 5%);
        }
    }
    &__copyright{
        font-size: 54px;
        line-height: 54px;
        color: #001c85;
        font-weight: 100;
        text-transform: uppercase;
        font-family: "Bebas Neue Pro", sans-serif;
        text-align: center;
        &-text{
            @media screen and (max-width: 991px) {
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    &__logo{
        max-width: 348px;
    }
}
@media only screen and (max-width: 1200px) {
    .footer__block,
    .footer__tel,
    .footer__info{
        max-width: 300px;
    }

    .footer__tel-link{
        font-size: 32px;
    }
}

@media only screen and (max-width: 991px) {
    .footer .wrapper{
        display: flex;
        flex-direction: column;
    }
    .footer__copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        gap: 10px;
        margin-top: 0px;
        font-size: 28px;
        line-height: 28px;
    }
    .footer{
        padding: 50px 0;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
    }
    .footer__tel{
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__tel, .footer__info, .footer__block{
        max-width: 100%;
        width: 100%;
        margin-bottom: 40px;
    } 
    .footer__info{
        order: 2;
        max-width: 350px;
    }
    .footer__block{
        order: 3;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 640px) {
    .footer__copyright a{
        font-size: 16px;
    }
    .footer__tel-text{
        font-size: 20px;
    }
    .footer__tel-link{
        font-size: 31px;
    }
    .footer__textblock{
        font-size: 14px;
    }
    .footer__copyright-text{
        font-size: 13px;
        line-height: 13px;
    }
}

.modal-link-text{
    font-size: 14px;
    color: #EE8966;
    text-align: center;
    cursor: pointer;
}

.footer__block{
    color: #fff;
}