.upload, .menu-page, .trade-page{
    background: #ebebeb;
    padding: 18px 0 35px 0;
    flex-grow: 1;
    min-height: calc(100vh - 82px);

    @media only screen and (max-width: 1200px) {
        min-height: calc(100vh - 68px);
    }

    @media only screen and (max-width: 991px) {
        min-height: calc(100vh - 62px);
    }

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    &__back{
        font-size: 11px;
        line-height: 150%;
        color: #98999e;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        svg{
            margin-right: 10px;
        }
    }

    &__title{
        font-size: 18px;
        margin-bottom: 16px;
        color: #223341;
    }

    &__button{
        padding: 9px 17px;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        background: #0055B8;
        border-radius: 100px;
        margin-bottom: 17px;
        align-self: baseline;
        transition: 0.3s;
        cursor: pointer;

        &:hover{
            background: #1e429f;
        }

        &:active{
            background: #374151;
        }

        svg{
            margin-right: 10px;
        }
    }

    &__stat{
        font-size: 14px;
        margin-bottom: 9px;
        color: #98999E;
    }

    &__items{
        background: #fff;
        border-radius: 8px;
    }
    &__item{
        padding: 10px 16px;
        display: flex;
        align-items: center;
        &:not(:last-child){
            border-bottom: 1px solid #E5e7eb;
        }
    }
    &__count{
        font-size: 15px;
        color: #223341;
        font-weight: 900;
    }

    &__status{
        padding: 2px 10px;
        border-radius: 12px;
        margin-left: auto;
    }

    &__info{
        width: calc(100% - 150px);
        max-width: 350px;
    }
    &__date{
        font-size: 14px;
        color: #6B7280;
    }
    &__name{
        font-size: 15px;
        color: #223341;
    }
    &-accept{
        background: #d1fae5;
        color: #065f46;
    }
    &-inprocess{
        background: #e8def8;
        color: #4f378a;
    }
    &-reject{
        background: #Fee2e2;
        color: #991b1b;
    }
}